---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout >

<section id="fundacion" class="block block--desktop-first-visible block--mobile-first-visible"
style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background block-background--fixed transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a:transparent;--232c59c7:85%;--24e13266:85%;--2e633380:15%;--b98e7ee4:center;--8481c29a:0.67;">
  <!----><video src="https://videos.pexels.com/video-files/5267492/5267492-hd_1280_720_30fps.mp4"
    autoplay="" muted="" loop="" playsinline=""
    class="block-background__video--fixed block-background__image"
    poster="https://images.pexels.com/videos/5267492/handshake-love-5267492.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=630&amp;w=1200"></video>
  <div class="block-background__overlay--fixed block-background__overlay"></div>
</div>
<div class="block-layout block-layout--layout"
  style="--m-grid-template-rows:28.88888888888889vw auto auto 6.944444444444445vw auto 6.666666666666667vw auto 68px;--t-grid-template-rows:minmax(104px, auto) minmax(28px, auto) minmax(44px, auto) minmax(25px, auto) minmax(47px, auto) minmax(24px, auto) minmax(56px, auto) 1fr;--small-desktop-grid-template-rows:11.764705882352942vw auto 0.49019607843137253vw auto auto 5.9640522875816995vw auto 135px;--grid-template-rows:minmax(144px, auto) minmax(68px, auto) minmax(6px, auto) minmax(102px, auto) minmax(42px, auto) minmax(73px, auto) minmax(56px, auto) 1fr;--m-grid-template-columns:8.231707317073171% 5.487804878048781% 11.28048780487805% 5.7926829268292686% 38.41463414634146% 5.7926829268292686% 10.975609756097562% 5.487804878048781% 8.536585365853659%;--grid-template-columns:29.166666666666668% 8.49673202614379% 0.6535947712418301% 3.758169934640523% 15.849673202614378% 3.758169934640523% 0.6535947712418301% 10.212418300653594% 27.450980392156865%;--m-block-min-height:auto;--t-block-min-height:396px;--small-desktop-block-min-height:auto;--block-min-height:626px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
  data-v-0c4679dd=""><!--[--><!--[-->
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:5/6;--grid-column:4/7;--m-grid-row:5/6;--m-grid-column:2/9;--556236e0:42px;--6114ddae:47px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:ai-wl0es_" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="ai-wL0Es_"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:ai-wl0es_">
      <h1
        style="color: rgb(255, 255, 255); --lineHeightMobile: 1.3; --lineHeightDesktop: 1.3; --fontSizeMobile: 18px; --fontSizeDesktop: 16px"
        dir="auto">¿Necesitas apoyo psicológico? <br>Estamos aquí para ti</h1>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:7/8;--grid-column:5/6;--m-grid-row:7/8;--m-grid-column:4/7;--556236e0:56px;--6114ddae:56px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:ai-4kvfhp" data-animation-state="active"><!--[--><a
      href="/ayuda-psicologica#apoyopsicologico" target="_blank" rel=""
      class="grid-button grid-button--primary layout-element__component layout-element__component--GridButton"
      aria-hidden="false"
      style="--font-size-desktop:16px;--font-family:Quicksand;--font-weight:700;--border-radius:28px;--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:rgb(255, 255, 255);--border-color:#0d141a;--background-color-hover:rgb(2, 106, 150);--font-color-hover:rgb(255, 255, 255);--border-color-hover:#0d141a;--m-height:15.555555555555555vw;--m-width:45.55555555555556vw;"
      id="ai-4kVFhP" data-v-862b8f16="" data-v-dc96b232=""
      data-qa="gridbutton:ai-4kvfhp">Contáctanos</a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:3;--grid-row:4/5;--grid-column:2/9;--m-grid-row:3/4;--m-grid-column:3/8;--556236e0:102px;--6114ddae:44px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zjgyvb">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zJGyVB"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:102px;--3e67ee8b:44px;" data-v-cb1e0aee=""
      data-qa="gridimage:zjgyvb">
      <div rel="nofollow" title=""
        style="--9c00fd5c:43.38235294117647vw;--09ad0563:8.333333333333334vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=148,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=73,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=148,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=197,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=197,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=148,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 531w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=277,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 1062w"
          sizes="(min-width: 920px) 531px, 237px" height="102" width="531" loading="eager"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:19.362745098039216vw;--09ad0563:3.5947712418300655vw;--5de16d65:65.83333333333333vw;--4beec8a0:12.222222222222221vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=70,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=70,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=143,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=190,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=268,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=70,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 237w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=143,fit=crop/Yanq2pnyPJF4kBgZ/live-contigo-YbN4Bw0bL3unx9Wv.png 474w"
          sizes="(min-width: 920px) 531px, 237px" height="44" width="237" loading="eager"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:4;--grid-row:2/3;--grid-column:3/8;--m-grid-row:2/3;--m-grid-column:5/6;--556236e0:68px;--6114ddae:28px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zkndqq">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zkNDQq"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:68px;--3e67ee8b:28px;" data-v-cb1e0aee=""
      data-qa="gridimage:zkndqq">
      <div rel="nofollow" title=""
        style="--9c00fd5c:24.673202614379086vw;--09ad0563:5.555555555555555vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=85,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=85,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=174,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=231,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=232,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=85,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 302w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=173,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 604w"
          sizes="(min-width: 920px) 302px, 126px" height="68" width="302" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:10.294117647058824vw;--09ad0563:2.287581699346405vw;--5de16d65:35vw;--4beec8a0:7.777777777777778vw;"
        class="image image--grid image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=84,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=84,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=171,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=228,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=320,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=84,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 126w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=84,fit=crop/Yanq2pnyPJF4kBgZ/fundacion-mnlJrBZyl6i9vW8g.png 252w"
          sizes="(min-width: 920px) 302px, 126px" height="28" width="126" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div><!--]--><!--]-->
</div><!----><!----><!----><!----><!---->
</section>
<section id="z3_fcr" class="block"
style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background block-background--fixed transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a: rgb(236, 239, 243); --232c59c7: 85%; --24e13266: 85%; --2e633380: 15%; --b98e7ee4: center; --8481c29a: false;">
  <!----><!----><!----></div>
<div class="block-layout block-layout--layout"
  style="--m-grid-template-rows:6.666666666666667vw auto 11.11111111111111vw auto 35px;--t-grid-template-rows:minmax(24px, auto) minmax(560px, auto) minmax(40px, auto) minmax(50px, auto) 1fr;--small-desktop-grid-template-rows:5.228758169934641vw auto 0.8986928104575164vw auto 59px;--grid-template-rows:minmax(64px, auto) minmax(245px, auto) minmax(11px, auto) minmax(50px, auto) 1fr;--m-grid-template-columns:1.8292682926829267% 28.353658536585364% 39.63414634146341% 28.04878048780488% 2.1341463414634148%;--grid-template-columns:16.830065359477125% 26.552287581699346% 13.23529411764706% 27.77777777777778% 15.604575163398692%;--m-block-min-height:auto;--t-block-min-height:709px;--small-desktop-block-min-height:auto;--block-min-height:429px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
  data-v-0c4679dd=""><!--[--><!--[-->
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/3;--grid-column:2/5;--m-grid-row:2/3;--m-grid-column:2/5;--556236e0:245px;--6114ddae:560px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:ai-jnzvib" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="ai-JNZvIb"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:ai-jnzvib">
      <p class="body" style="color: rgb(86, 88, 94); --lineHeightDesktop: 1.3; --fontSizeDesktop: 16px"
        dir="auto"><span style="font-family: Quicksand; font-weight: 500">En nuestra fundación, entendemos
          que la salud mental es tan importante como la física. Si estás atravesando momentos difíciles, te
          sientes abrumado, ansioso, triste o simplemente necesitas hablar con alguien, no estás solo.
          Contamos con un equipo de profesionales en psicología listos para escucharte y acompañarte de
          forma confidencial, respetuosa y sin juzgar. Nuestro objetivo es brindarte el apoyo emocional que
          mereces, porque todos necesitamos una mano amiga en algún momento de la vida.</span></p>
      <p class="body"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 1.3; --fontSizeDesktop: 16px" dir="auto">
        <span style="font-family: Quicksand; font-weight: 500"><strong>¿Cómo recibir
            ayuda?</strong></span><br><span
          style="font-family: Quicksand; font-weight: 500"><br></span><span
          style="color: rgb(86, 88, 94); font-family: Quicksand; font-weight: 500">Ponemos a tu disposición
          un servicio de </span><span
          style="color: rgba(2, 106, 150, 0.9); font-family: Quicksand; font-weight: 500"><strong>atención
            psicológica</strong></span><span
          style="color: rgb(86, 88, 94); font-family: Quicksand; font-weight: 500"> adaptado a tu situación
          socioeconómica. Queremos escucharte y ayudarte de la mejor manera posible. </span><br><span
          style="color: rgba(2, 106, 150, 0.9); font-family: Quicksand; font-weight: 500"><strong>Escríbenos
          </strong></span><span
          style="color: rgb(86, 88, 94); font-family: Quicksand; font-weight: 500">para valorar juntos tu
          situación y tus necesidades.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:4/5;--grid-column:3/4;--m-grid-row:4/5;--m-grid-column:3/4;--556236e0:50px;--6114ddae:50px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:za3l6u" data-animation-state="active"><!--[--><a
      href="/ayuda-psicologica#apoyopsicologico" target="_self" rel=""
      class="grid-button grid-button--primary layout-element__component layout-element__component--GridButton"
      aria-hidden="false"
      style="--font-size-desktop:16px;--font-family:Quicksand;--font-weight:700;--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:rgb(255, 255, 255);--border-color:rgb(0, 0, 0);--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:rgb(255, 255, 255);--border-color-hover:rgb(0, 0, 0);--m-height:13.88888888888889vw;--m-width:36.111111111111114vw;"
      id="zA3L6U" data-v-862b8f16="" data-v-dc96b232=""
      data-qa="gridbutton:za3l6u">Escríbenos</a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div><!--]--><!--]-->
</div><!----><!----><!----><!----><!---->
</section>
<section id="apoyopsicologico" class="block"
style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background block-background--fixed transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a:transparent;--232c59c7:85%;--24e13266:85%;--2e633380:15%;--b98e7ee4:center;--8481c29a:0.45;">
  <!----><video src="https://videos.pexels.com/video-files/5267492/5267492-hd_1280_720_30fps.mp4"
    autoplay="" muted="" loop="" playsinline=""
    class="block-background__video--fixed block-background__image"
    poster="https://images.pexels.com/videos/5267492/handshake-love-5267492.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=630&amp;w=1200"></video>
  <div class="block-background__overlay--fixed block-background__overlay"></div>
</div>
<div class="block-layout block-layout--layout"
  style="--m-grid-template-rows:17.77777777777778vw auto 8.61111111111111vw auto 49px;--t-grid-template-rows:minmax(64px, auto) minmax(31px, auto) minmax(31px, auto) minmax(532px, auto) 1fr;--small-desktop-grid-template-rows:6.5359477124183005vw auto 3.4313725490196076vw auto 49px;--grid-template-rows:minmax(80px, auto) minmax(42px, auto) minmax(42px, auto) minmax(508px, auto) 1fr;--m-grid-template-columns:100%;--grid-template-columns:25.245098039215684% 49.50980392156863% 25.245098039215684%;--m-block-min-height:auto;--t-block-min-height:707px;--small-desktop-block-min-height:auto;--block-min-height:721px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
  data-v-0c4679dd=""><!--[--><!--[-->
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/3;--grid-column:1/4;--m-grid-row:2/3;--m-grid-column:1/2;--556236e0:42px;--6114ddae:31px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:ai-y5-vj0" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="ai-y5-vJ0"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:ai-y5-vj0">
      <h1 dir="auto"
        style="color: rgb(255, 255, 255); --lineHeightMobile: 1.3; --lineHeightDesktop: 1.3; --fontSizeMobile: 24px; --fontSizeDesktop: 32px">
        <span style="font-family: Quicksand; font-weight: 700"><strong>Estamos aquí para ti</strong></span>
      </h1>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--justify:center;--formSpacing:22px 10px;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:4/5;--grid-column:2/3;--m-grid-row:4/5;--m-grid-column:1/2;--556236e0:508px;--6114ddae:532px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zmybfl" data-animation-state="active">
    <!--[--><!----><!----><!---->
    <div id="zMYbfL" class="form layout-element__component layout-element__component--GridForm"
      style="--form-button-justify-self:center;--form-background-color:rgba(2, 106, 150, 0.9);--form-border-width:0px;--form-border-radius:20px;--form-padding:30px;--form-font-family:Quicksand;--form-font-weight:500;--input-fill-color:#ffffff;--input-fill-color--hover:#ffffff;--label-text-color:rgb(255, 255, 255);--label-text-size:14px;--input-text-color:#0d141a;--input-text-color--hover:#0d141a;--input-text-size:16px;--input-height:auto;--input-border-color:rgb(184, 192, 204);--input-border-color--hover:#0d141a;--input-border-width:1px;--input-border-radius:10px;--form-elements-vertical-spacing:15px;--form-spacing:var(--formSpacing);--grid-item-inner-padding:var(--gridItemInnerPadding);--grid-item-inner-background:var(--gridItemInnerBackground);"
      data-v-862b8f16="" data-v-ca2c4eaa="" data-qa="gridform:zmybfl">
      <form name="Contact form 1" class="form__control" data-v-ca2c4eaa="" netlify><!--[--><!--[-->
        <div class="input input--light" data-v-ca2c4eaa="" data-v-a7cf67cd=""
          data-qa="form-field-nombrecompleto"><label for="Nombre completo"
            class="input__label--light input__label" data-v-a7cf67cd="">Nombre completo*</label><input
            id="Nombre completo" placeholder="Escribe tu nombre aquí" type="text"
            class="input__component--light input__component" value="" tabindex="0"
            data-v-a7cf67cd=""><!----><!----></div><!----><!--]--><!--[-->
        <div class="input input--light" data-v-ca2c4eaa="" data-v-a7cf67cd=""
          data-qa="form-field-correoelectrónico"><label for="Correo electrónico "
            class="input__label--light input__label" data-v-a7cf67cd="">Correo electrónico *</label><input
            id="Correo electrónico " placeholder="Escribe tu correo aquí" type="text"
            class="input__component--light input__component" value="" tabindex="0"
            data-v-a7cf67cd=""><!----><!----></div><!----><!--]--><!--[-->
        <div class="input input--light" data-v-ca2c4eaa="" data-v-a7cf67cd=""
          data-qa="form-field-númerodeteléfonocelular"><label for="Número de teléfono celular"
            class="input__label--light input__label" data-v-a7cf67cd="">Número de teléfono
            celular*</label><input id="Número de teléfono celular"
            placeholder="Recuerda poner el código del país" type="text"
            class="input__component--light input__component" value="" tabindex="0"
            data-v-a7cf67cd=""><!----><!----></div><!----><!--]--><!--[-->
        <div class="input input--light" data-v-ca2c4eaa="" data-v-a7cf67cd="" data-qa="form-field-"><label
            for="Ingresa tu mensaje" class="input__label--light input__label"
            data-v-a7cf67cd=""></label><!----><textarea id="Ingresa tu mensaje"
            placeholder="Ingresa tu mensaje" type="text"
            class="input__component--textarea input__component--light input__component--no-textarea-resize input__component"
            tabindex="0" data-v-a7cf67cd=""></textarea><!----></div><!----><!--]--><!--]--><button
          type="submit" name="submit" class="grid-button grid-button--primary form__button"
          aria-hidden="false"
          style="--font-family:Quicksand;--font-weight:700;--border-radius:50px;--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:#ffffff;--border-color:#0d141a;--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:#ffffff;--border-color-hover:#0d141a;--m-height:0vw;--m-width:0vw;"
          data-v-ca2c4eaa="" data-v-dc96b232="" data-qa="form-button-submit">Enviar</button>
      </form><!--[--><!----><!--]-->
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div><!--]--><!--]-->
</div><!----><!----><!----><!----><!---->
</section>

</BaseLayout>