---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout >

<section id="zUQVZI" class="block block--desktop-first-visible block--mobile-first-visible"
style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a:transparent;--232c59c7:50%;--24e13266:0%;--2e633380:50%;--b98e7ee4:center;--8481c29a:0.45;">
  <img alt="silver MacBook beside space gray iPhone 6 and clear drinking glass on brown wooden top"
    src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png"
    srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png 1440w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=2800,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png 2880w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png 1920w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=2800,fit=crop/Yanq2pnyPJF4kBgZ/fondoblog-mv0J86NeDbupOqEZ.png 3840w"
    width="100vw" sizes="(max-width: 500px) 800px, 100vw" loading="eager" class="block-background__image"
    data-qa="block-background-image"><!---->
  <div class="block-background__overlay"></div>
</div>
<div class="block-layout block-layout--layout"
  style="--m-grid-template-rows:3.3333333333333335vw auto 7px;--t-grid-template-rows:minmax(12px, auto) minmax(52px, auto) 1fr;--small-desktop-grid-template-rows:8.251633986928105vw auto 86px;--grid-template-rows:minmax(101px, auto) minmax(83px, auto) 1fr;--m-grid-template-columns:100%;--grid-template-columns:25.245098039215684% 49.50980392156863% 25.245098039215684%;--m-block-min-height:auto;--t-block-min-height:71px;--small-desktop-block-min-height:auto;--block-min-height:270px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
  data-v-0c4679dd=""><!--[--><!--[-->
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/3;--grid-column:2/3;--m-grid-row:2/3;--m-grid-column:1/2;--556236e0:83px;--6114ddae:52px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zlpr5i" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zlpr5i"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zlpr5i">
      <h1 style="color: rgb(255, 255, 255)" dir="auto">Blog</h1>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div><!--]--><!--]-->
</div><!----><!----><!----><!----><!---->
</section>
<section id="zkPPFC" class="block transition transition--slide transition--root-hidden"
style="--cols:10;--rows:10;--row-gap:16px;--row-size:48px;--block-padding-top:60px;--block-padding:60px;--block-padding-right:60px;--block-padding-bottom:60px;--block-padding-left:60px;--content-width:1224px;--grid-gap-size:32px;--m-grid-gap-size:8px;--cover-object-fit:contain;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a: rgb(255, 255, 255); --232c59c7: 50%; --24e13266: 0%; --2e633380: 50%; --b98e7ee4: center; --8481c29a: false;">
  <!----><!----><!----></div><!----><!---->
<div id="zkPPFC" class="block-blog-list" data-v-0c4679dd="" style="--4055fc5c:46px;--71ebe4dc:3;"
  data-v-1120e899="" data-qa="builder-section-blog"><!---->
  <div data-v-1120e899="" class="block-blog-list__list">
    <div data-v-b99b1992="" data-v-1120e899="" class="block-blog-list-item"
      data-animation-role="block-element" data-qa="blog-list-item" data-animation-state="active"
      style="--525116cd: 19px;"><a data-v-b99b1992="" href="/por-que-recibir-terapia"
        class="block-blog-list-item__cover-image-container" data-qa="blog-list-item-image">
        <div data-v-b99b1992="" class="block-blog-list-item__cover-image-wrapper"><img data-v-b99b1992=""
            class="block-blog-list-item__cover-image" alt="a woman sitting on a couch in a living room"
            srcset="https://images.unsplash.com/photo-1714976694982-ee5db5a2e508?auto=format&amp;fit=crop&amp;w=328&amp;h=197 328w,https://images.unsplash.com/photo-1714976694982-ee5db5a2e508?auto=format&amp;fit=crop&amp;w=656&amp;h=394 656w,https://images.unsplash.com/photo-1714976694982-ee5db5a2e508?auto=format&amp;fit=crop&amp;w=861&amp;h=517 861w,https://images.unsplash.com/photo-1714976694982-ee5db5a2e508?auto=format&amp;fit=crop&amp;w=984&amp;h=590 984w,https://images.unsplash.com/photo-1714976694982-ee5db5a2e508?auto=format&amp;fit=crop&amp;w=1800&amp;h=1080 1800w,https://images.unsplash.com/photo-1714976694982-ee5db5a2e508?auto=format&amp;fit=crop&amp;w=3600&amp;h=2160 3600w"
            sizes="(min-width: 920px) 1800px, calc((100vw - 0px - 20px) / 1)"></div>
      </a>
      <p data-v-aefb04f0="" data-v-b99b1992="" class="categories font-secondary"><span data-v-aefb04f0=""
          class="categories__item">PSICOLOGÍA</span></p><a data-v-b99b1992=""
        class="block-blog-list-item__content" href="/por-que-recibir-terapia"
        data-qa="block-blog-list-item-content">
        <h3 data-v-b99b1992="" class="font-primary block-blog-list-item__title">¿Por qué recibir terapia?
        </h3>
        <p data-v-b99b1992="" class="block-blog-list-item__description font-secondary"
          style="display: none;"></p>
        <div data-v-f418a90d="" data-v-b99b1992="" class="blog-list-item-meta">
          <div data-v-f418a90d="" class="font-secondary">
            <p data-v-f418a90d="" class="blog-list-item-meta__author-name" data-qa="blog-author"
              style="display: none;">Ortega Ma José</p>
            <p data-v-f418a90d="" class="blog-list-item-meta__subtitle"><!----><span data-v-f418a90d="">2
                min leer</span></p>
          </div>
        </div>
      </a>
    </div>
    <div data-v-b99b1992="" data-v-1120e899="" class="block-blog-list-item"
      data-animation-role="block-element" data-qa="blog-list-item" data-animation-state="active"
      style="--525116cd: 19px;"><a data-v-b99b1992="" href="/el-matrimonio-una-hermosa-realidad"
        class="block-blog-list-item__cover-image-container" data-qa="blog-list-item-image">
        <div data-v-b99b1992="" class="block-blog-list-item__cover-image-wrapper"><img data-v-b99b1992=""
            class="block-blog-list-item__cover-image" alt=""
            srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=226,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-20-at-9.33.20a-pm-m7V3RypejZCZkj6v.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=462,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-20-at-9.33.20a-pm-m7V3RypejZCZkj6v.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=615,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-20-at-9.33.20a-pm-m7V3RypejZCZkj6v.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=614,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-20-at-9.33.20a-pm-m7V3RypejZCZkj6v.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,h=1152,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-20-at-9.33.20a-pm-m7V3RypejZCZkj6v.png 1800w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=2800,h=1680,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-20-at-9.33.20a-pm-m7V3RypejZCZkj6v.png 3600w"
            sizes="(min-width: 920px) 1800px, calc((100vw - 0px - 20px) / 1)"></div>
      </a>
      <p data-v-aefb04f0="" data-v-b99b1992="" class="categories font-secondary"><span data-v-aefb04f0=""
          class="categories__item">MATRIMONIO</span><span data-v-aefb04f0=""
          class="categories__item">ESPIRITUALIDAD</span></p><a data-v-b99b1992=""
        class="block-blog-list-item__content" href="/el-matrimonio-una-hermosa-realidad"
        data-qa="block-blog-list-item-content">
        <h3 data-v-b99b1992="" class="font-primary block-blog-list-item__title">El matrimonio una hermosa
          realidad</h3>
        <p data-v-b99b1992="" class="block-blog-list-item__description font-secondary"
          style="display: none;"></p>
        <div data-v-f418a90d="" data-v-b99b1992="" class="blog-list-item-meta">
          <div data-v-f418a90d="" class="font-secondary">
            <p data-v-f418a90d="" class="blog-list-item-meta__author-name" data-qa="blog-author"
              style="display: none;">Ortega Ma José</p>
            <p data-v-f418a90d="" class="blog-list-item-meta__subtitle"><!----><span data-v-f418a90d="">4
                min leer</span></p>
          </div>
        </div>
      </a>
    </div>
    <div data-v-b99b1992="" data-v-1120e899="" class="block-blog-list-item"
      data-animation-role="block-element" data-qa="blog-list-item" data-animation-state="active"
      style="--525116cd: 19px;"><a data-v-b99b1992="" href="/el-amor-es"
        class="block-blog-list-item__cover-image-container" data-qa="blog-list-item-image">
        <div data-v-b99b1992="" class="block-blog-list-item__cover-image-wrapper"><img data-v-b99b1992=""
            class="block-blog-list-item__cover-image" alt=""
            srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=226,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-21-at-9.40.46a-am-ALpeRbzvKLhXRRBB.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=462,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-21-at-9.40.46a-am-ALpeRbzvKLhXRRBB.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=615,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-21-at-9.40.46a-am-ALpeRbzvKLhXRRBB.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=614,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-21-at-9.40.46a-am-ALpeRbzvKLhXRRBB.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,h=1152,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-21-at-9.40.46a-am-ALpeRbzvKLhXRRBB.png 1800w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=2800,h=1680,fit=crop/Yanq2pnyPJF4kBgZ/screenshot-2025-05-21-at-9.40.46a-am-ALpeRbzvKLhXRRBB.png 3600w"
            sizes="(min-width: 920px) 1800px, calc((100vw - 0px - 20px) / 1)"></div>
      </a>
      <p data-v-aefb04f0="" data-v-b99b1992="" class="categories font-secondary"><span data-v-aefb04f0=""
          class="categories__item">MATRIMONIO</span><span data-v-aefb04f0=""
          class="categories__item">ESPIRITUALIDAD</span></p><a data-v-b99b1992=""
        class="block-blog-list-item__content" href="/el-amor-es" data-qa="block-blog-list-item-content">
        <h3 data-v-b99b1992="" class="font-primary block-blog-list-item__title">El amor es...</h3>
        <p data-v-b99b1992="" class="block-blog-list-item__description font-secondary"
          style="display: none;"></p>
        <div data-v-f418a90d="" data-v-b99b1992="" class="blog-list-item-meta">
          <div data-v-f418a90d="" class="font-secondary">
            <p data-v-f418a90d="" class="blog-list-item-meta__author-name" data-qa="blog-author"
              style="display: none;">Ortega Ma José</p>
            <p data-v-f418a90d="" class="blog-list-item-meta__subtitle"><!----><span data-v-f418a90d="">4
                min leer</span></p>
          </div>
        </div>
      </a>
    </div>
  </div><!---->
</div><!----><!----><!---->
</section>

</BaseLayout>
