---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout >

<section id="zqMHtv"
class="block transition transition--slide transition--root-hidden block--desktop-first-visible block--mobile-first-visible"
style="--align:flex-start;--text-align:center;--block-padding-top:45px;--block-padding:45px 30px 45px 30px;--block-padding-right:30px;--block-padding-bottom:45px;--block-padding-left:30px;--content-width:954px;--m-block-padding:16px 16px 16px 16px;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a: rgb(255, 255, 255); --232c59c7: 50%; --24e13266: 0%; --2e633380: 50%; --b98e7ee4: center; --8481c29a: false;">
  <!----><!----><!----></div><!---->
<div class="block-blog-header" data-animation-role="block-element" data-v-0c4679dd=""
  style="--1fd7f410:32px;" data-v-6ad8ae0c="" data-qa="blog-postinformation" data-animation-state="active">
  <div class="block-blog-header__content" data-v-6ad8ae0c="">
    <h1 class="font-primary block-blog-header__title" data-v-6ad8ae0c="" data-qa="blog-label-posttitle">El
      amor es...</h1>
    <p class="font-secondary block-blog-header__description" data-v-6ad8ae0c=""
      data-qa="blog-label-postdescription"></p>
    <p class="categories font-secondary" data-v-6ad8ae0c="" data-v-aefb04f0=""
      data-qa="blog-label-category"><!--[--><span class="categories__item"
        data-v-aefb04f0="">MATRIMONIO</span><span class="categories__item"
        data-v-aefb04f0="">ESPIRITUALIDAD</span><!--]--></p>
    <div class="blog-list-item-meta" data-v-6ad8ae0c="" data-v-f418a90d="">
      <div class="font-secondary" data-v-f418a90d="">
        <p style="" class="blog-list-item-meta__author-name" data-v-f418a90d="" data-qa="blog-author">Ortega
          Ma José</p>
        <p style="" class="blog-list-item-meta__subtitle" data-v-f418a90d=""><span data-v-f418a90d=""
            data-qa="blog-list-item-date">1/8/2025</span><span data-v-f418a90d="">4 min leer</span></p>
      </div>
    </div>
  </div>
</div><!----><!----><!----><!---->
</section>
<section id="zVbgRi" class="block" style="--m-block-padding:56px 16px;" data-v-0c4679dd="" data-qa="block">
<div class="block-background transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a: rgb(255, 255, 255); --232c59c7: 50%; --24e13266: 0%; --2e633380: 50%; --b98e7ee4: center; --8481c29a: false;">
  <!----><!----><!----></div>
<div class="block-layout block-layout--layout"
  style="--m-grid-template-rows:11.11111111111111vw auto 17.77777777777778vw auto 0px;--t-grid-template-rows:minmax(40px, auto) minmax(320px, auto) minmax(64px, auto) minmax(3984px, auto) 1fr;--small-desktop-grid-template-rows:3.2679738562091503vw auto 4.738562091503268vw auto 34px;--grid-template-rows:minmax(40px, auto) minmax(344px, auto) minmax(58px, auto) minmax(2136px, auto) 1fr;--m-grid-template-columns:100%;--grid-template-columns:16.830065359477125% 66.33986928104575% 16.830065359477125%;--m-block-min-height:auto;--t-block-min-height:140px;--small-desktop-block-min-height:auto;--block-min-height:2612px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
  data-v-0c4679dd=""><!--[--><!--[-->
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/3;--grid-column:2/3;--m-grid-row:2/3;--m-grid-column:1/2;--556236e0:344px;--6114ddae:320px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zitzc7">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zItzc7"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:344px;--3e67ee8b:320px;" data-v-cb1e0aee=""
      data-qa="gridimage:zitzc7">
      <div rel="nofollow" title=""
        style="--9c00fd5c:66.33986928104575vw;--09ad0563:28.104575163398692vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=434,fit=crop,trim=538.4256559766764;242.63768115942028;538.4256559766764;242.63768115942028/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=160,fit=crop,trim=538.4256559766764;242.63768115942028;538.4256559766764;242.63768115942028/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=326,fit=crop,trim=538.4256559766764;242.63768115942028;538.4256559766764;242.63768115942028/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=434,fit=crop,trim=538.4256559766764;242.63768115942028;538.4256559766764;242.63768115942028/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=611,fit=crop,trim=538.4256559766764;242.63768115942028;538.4256559766764;242.63768115942028/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=434,fit=crop,trim=538.4256559766764;242.63768115942028;538.4256559766764;242.63768115942028/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 812w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,h=814,fit=crop,trim=538.4256559766764;242.63768115942028;538.4256559766764;242.63768115942028/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 1624w"
          sizes="(min-width: 920px) 812px, 328px" height="344" width="812" loading="eager"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:26.797385620915033vw;--09ad0563:26.143790849673202vw;--5de16d65:91.11111111111111vw;--4beec8a0:88.88888888888889vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop,trim=175.748031496063;595.195530726257;175.748031496063;595.195530726257/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop,trim=175.748031496063;595.195530726257;175.748031496063;595.195530726257/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=749,fit=crop,trim=175.748031496063;595.195530726257;175.748031496063;595.195530726257/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=1000,fit=crop,trim=175.748031496063;595.195530726257;175.748031496063;595.195530726257/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1406,fit=crop,trim=175.748031496063;595.195530726257;175.748031496063;595.195530726257/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop,trim=175.748031496063;595.195530726257;175.748031496063;595.195530726257/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=750,fit=crop,trim=175.748031496063;595.195530726257;175.748031496063;595.195530726257/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-6-Yan15zejvNFoXgNr.png 656w"
          sizes="(min-width: 920px) 812px, 328px" height="320" width="328" loading="eager"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:4/5;--grid-column:2/3;--m-grid-row:4/5;--m-grid-column:1/2;--556236e0:2136px;--6114ddae:3984px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zak_xf" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zAK_xf"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zak_xf">
      <p class="body" style="color: rgb(26, 26, 26)" dir="auto">«El amor es paciente,<br>es servicial;<br>el
        amor no tiene envidia,<br>no hace alarde,<br>no es arrogante,<br>no obra con dureza,<br>no busca su
        propio interés,<br>no se irrita,<br>no lleva cuentas del mal,<br>no se alegra de la
        injusticia,<br>sino que goza con la verdad.<br>Todo lo disculpa,<br>todo lo cree,<br>todo lo
        espera,<br>todo lo soporta»<br>(1 Co 13,4-7).</p>
      <p class="body" style="color: rgb(26, 26, 26)" dir="auto">Esto se vive y se cultiva en medio de la
        vida que comparten todos los días los esposos, entre sí y con sus hijos. Por eso es valioso
        detenerse a precisar el sentido de las expresiones de este texto, para intentar una aplicación a la
        existencia concreta de cada familia? (Amoris laetitia, n. 90).</p>
      <p class="body" dir="auto">El matrimonio es un bello sacramento, que Dios ama y quiere para quienes
        están llamados a esta vocación. Y en ella están llamadas a ser plenamente felices y santos, a ser
        una comunidad de amor y de vida, siendo reflejo del amor de Cristo. Pero ¿Cómo es este amor? ¿Cómo
        debería amar a la otra persona?</p>
      <p class="body" dir="auto">Y es que cuando uno esta enamorado, puede hacer locuras por la persona que
        ama, hay paciencia para esperar, hay tiempo para compartir, hay amor para dar, todo parece hermoso y
        ser perfecto; parece fácil amar a la otra persona. Y claro, todo esto eso necesario, pero no dura
        por siempre si es que uno no lo quiere y no lo va construyendo todos los días. El papa Francisco
        dice que “ninguna familia es una realidad celestial y confeccionada de una vez para siempre, sino
        que requiere una progresiva maduración de su capacidad de amar” (Amoris Laetitia, 325). La
        maduración de la capacidad de amar es un proceso dinámico, en el que se conoce mejor al cónyuge y se
        le ama más, y se da en la cotidianidad del día a día.</p>
      <p class="body" dir="auto">El amor perfecto es semejante al de Cristo por la Iglesia. San Pablo da ese
        ejemplo para los casados: “Esposos, amen a sus esposas, como Cristo amó la Iglesia y se entregó por
        ella, para santificarla, purificándola por el agua del bautismo con la palabra, para presentarla a
        si mismo toda gloriosa, sin mancha, sin arruga, sin cualquier otro defecto semejante, pero santa e
        irreprochable. Así los maridos deben amar a sus mujeres, como a su propio cuerpo. Quien ama a su
        mujer, se ama a sí mismo. Ciertamente, nadie jamás aborreció a su propia carne; al contrario, cada
        cual alimenta y la cuida, como Cristo hace con su Iglesia” (Ef 5, 25-29). Los esposos deben
        preguntarse si están dispuestos a amar al otro hasta la cruz, así como Jesús.</p>
      <p class="body" dir="auto">En la vida conyugal se debe vivir y recordar el compromiso que se asumió
        libremente en el matrimonio, el cual exige madurez y voluntad para no desvirtuar el amor y perder de
        vista el objetivo: llevarse mutuamente a la santidad. En el himno de la caridad que encontramos en 1
        Co 13, escrito por san Pablo, nos dice cómo debe ser este amor:</p>
      <p class="body" dir="auto">El amor es <strong>paciente</strong>, es ser compasivo al aceptar al otro
        con sus defectos y errores, es no actuar con agresividad, no dejarse llevar por los impulsos,
        <strong>no se irrita</strong>; es saber comprender y ser perseverante en el amor. El amor es
        <strong>servicial</strong>, no existe amor sin servicio ni servicio sin amor, por amar es darse a sí
        mismo al otro, para complementarlo, para buscar su felicidad. Amamos cuando nos damos, así el amor
        se debe trabajar cada día con pequeños detalles de servicio al otro, así el amor será perpetuo.</p>
      <p class="body" dir="auto">El amor <strong>no es envidioso</strong>, no es celoso, el amor no es
        egocéntrico, valora y se alegra de los logros del otro. El amor entre los esposos debe ser reflejo
        del amor de Dios, de cómo nos ama, <strong>nos perdona</strong> y quiere nuestra santidad. Si los
        casados vivieran eso, ese amor fecundo, serian felices.</p>
      <p class="body" dir="auto">Para que el amor sea verdadero y perseverante es necesario:</p>
      <ul dir="auto">
        <li>
          <p class="body" dir="auto"><strong>El conocimiento profundo del otro</strong>: conocer su
            temperamento, su carácter, sus virtudes, dones, cualidades, lo que le gusta, cuales son sus
            metas, sueños, su fe; también conocer sus defectos, vicios, limitaciones, lo que le cuesta; para
            que así poder ayudar ser mejor al otro, ayudarlo a perfeccionarse y también a dar a halago. E
            incluso ser detallista, el amor es como una planta si no se la riega, no sé la saca al sol se
            muere, de igual manera el amor, hay que saber alimentarlo con detalles, halagos, sacrificios.
          </p>
          <p class="body" dir="auto"></p>
        </li>
        <li>
          <p class="body" dir="auto"><strong>Saber solucionar conflictos</strong>: dialogar las diferencias
            que tengan, saber escuchar, comprender, llegar a acuerdos, evitar palabra hirientes o dañinas,
            saber callar.</p>
          <p class="body" dir="auto"></p>
        </li>
        <li>
          <p class="body" dir="auto"><strong>Tener un proyecto de vida juntos</strong>: no ver solo por uno
            mismo, mis cosas, mi vida; sino atreverse a soñar juntos, a formar un proyecto de vida
            alentándose mutuamente. Los esposos son un equipo, y deben trabajar como tal.</p>
          <p class="body" dir="auto"></p>
        </li>
      </ul>
      <p class="body" dir="auto">Amar es más que un impulso sensible del corazón, es un una decisión de la
        razón. Por eso, amar es un largo aprendizaje, no es una aventura como la mayoría piensa. No se
        aprende amar cambiando cada día de amante, sino aprendiendo a respetarlo todo los días, tanto en el
        cuerpo como en el alma. Cuando amamos de verdad, encontramos la verdadera libertad.</p>
      <p class="body" dir="auto">Es el amor el que une la pareja y la unidad será para ellos vínculo de
        perfección. Se debe aprender a vencer los celos, la envidia, el propio orgullo y vanidad, no buscar
        el propio interés, ser capaz de creer en el otro, no vivir irritado, malhumorado, aprender a
        soportar el sufrimiento por el bien del otro.</p>
      <p class="body" dir="auto">Amar no es una decisión de apenas un momento, es una decisión que debe ser
        renovada a cada momento, para durar siempre. Es necesario estar siempre consciente que amar un
        hombre o una mujer, será siempre amar un ser imperfecto, pecador y débil. La felicidad del
        matrimonio es construida pedacito por pedacito, a través de los esfuerzos mutuos de comprensión y de
        amor. No existen matrimonios perfectos, hay peleas, errores, se enojan, pero reconocen sus fallsas y
        se perdonan. Para amar se necesita decisión firma y verdadero compromiso.</p>
      <p class="body" dir="auto">Como suelen decir, decir te amo toma unos segundos, demostrarlo toda una
        vida.</p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div><!--]--><!--]-->
</div><!----><!----><!----><!----><!---->
</section>

</BaseLayout>
