---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout >

<section id="zaboVh"
class="block transition transition--slide transition--root-hidden block--desktop-first-visible block--mobile-first-visible"
style="--align:flex-start;--text-align:center;--block-padding-top:45px;--block-padding:45px 30px 45px 30px;--block-padding-right:30px;--block-padding-bottom:45px;--block-padding-left:30px;--content-width:954px;--m-block-padding:16px 16px 16px 16px;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a: rgb(255, 255, 255); --232c59c7: 50%; --24e13266: 0%; --2e633380: 50%; --b98e7ee4: center; --8481c29a: false;">
  <!----><!----><!----></div><!---->
<div class="block-blog-header" data-animation-role="block-element" data-v-0c4679dd=""
  style="--1fd7f410:32px;" data-v-6ad8ae0c="" data-qa="blog-postinformation" data-animation-state="active">
  <div class="block-blog-header__content" data-v-6ad8ae0c="">
    <h1 class="font-primary block-blog-header__title" data-v-6ad8ae0c="" data-qa="blog-label-posttitle">El
      matrimonio una hermosa realidad</h1>
    <p class="font-secondary block-blog-header__description" data-v-6ad8ae0c=""
      data-qa="blog-label-postdescription"></p>
    <p class="categories font-secondary" data-v-6ad8ae0c="" data-v-aefb04f0=""
      data-qa="blog-label-category"><!--[--><span class="categories__item"
        data-v-aefb04f0="">MATRIMONIO</span><span class="categories__item"
        data-v-aefb04f0="">ESPIRITUALIDAD</span><!--]--></p>
    <div class="blog-list-item-meta" data-v-6ad8ae0c="" data-v-f418a90d="">
      <div class="font-secondary" data-v-f418a90d="">
        <p style="" class="blog-list-item-meta__author-name" data-v-f418a90d="" data-qa="blog-author">Ortega
          Ma José</p>
        <p style="" class="blog-list-item-meta__subtitle" data-v-f418a90d=""><span data-v-f418a90d=""
            data-qa="blog-list-item-date">1/8/2025</span><span data-v-f418a90d="">4 min leer</span></p>
      </div>
    </div>
  </div>
</div><!----><!----><!----><!---->
</section>
<section id="zkLz_H" class="block" style="--m-block-padding:56px 16px;" data-v-0c4679dd="" data-qa="block">
<div class="block-background transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a: rgb(255, 255, 255); --232c59c7: 50%; --24e13266: 0%; --2e633380: 50%; --b98e7ee4: center; --8481c29a: false;">
  <!----><!----><!----></div>
<div class="block-layout block-layout--layout"
  style="--m-grid-template-rows:11.11111111111111vw auto 17.77777777777778vw auto 0px;--t-grid-template-rows:minmax(40px, auto) minmax(320px, auto) minmax(64px, auto) minmax(4598px, auto) 1fr;--small-desktop-grid-template-rows:4.57516339869281vw auto 3.4313725490196076vw auto 34px;--grid-template-rows:minmax(56px, auto) minmax(344px, auto) minmax(42px, auto) minmax(2163px, auto) 1fr;--m-grid-template-columns:100%;--grid-template-columns:16.830065359477125% 66.33986928104575% 16.830065359477125%;--m-block-min-height:auto;--t-block-min-height:140px;--small-desktop-block-min-height:auto;--block-min-height:2639px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
  data-v-0c4679dd=""><!--[--><!--[-->
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/3;--grid-column:2/3;--m-grid-row:2/3;--m-grid-column:1/2;--556236e0:344px;--6114ddae:320px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zrhgnp">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zRhGnp"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:344px;--3e67ee8b:320px;" data-v-cb1e0aee=""
      data-qa="gridimage:zrhgnp">
      <div rel="nofollow" title=""
        style="--9c00fd5c:66.33986928104575vw;--09ad0563:28.104575163398692vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=434,fit=crop,trim=0;0;870;0/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=160,fit=crop,trim=0;0;870;0/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=326,fit=crop,trim=0;0;870;0/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=434,fit=crop,trim=0;0;870;0/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=611,fit=crop,trim=0;0;870;0/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=434,fit=crop,trim=0;0;870;0/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 812w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,h=814,fit=crop,trim=0;0;870;0/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 1624w"
          sizes="(min-width: 920px) 812px, 328px" height="344" width="812" loading="eager"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:26.797385620915033vw;--09ad0563:26.143790849673202vw;--5de16d65:91.11111111111111vw;--4beec8a0:88.88888888888889vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop,trim=0;0;0;830.1818181818181/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop,trim=0;0;0;830.1818181818181/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=749,fit=crop,trim=0;0;0;830.1818181818181/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=1000,fit=crop,trim=0;0;0;830.1818181818181/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1406,fit=crop,trim=0;0;0;830.1818181818181/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop,trim=0;0;0;830.1818181818181/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=750,fit=crop,trim=0;0;0;830.1818181818181/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-5-A1aPRygwe8Fz57DE.png 656w"
          sizes="(min-width: 920px) 812px, 328px" height="320" width="328" loading="eager"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:4/5;--grid-column:2/3;--m-grid-row:4/5;--m-grid-column:1/2;--556236e0:2163px;--6114ddae:4598px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zjjerz" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zjjERz"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zjjerz">
      <p class="body" style="color: rgb(26, 26, 26)" dir="auto"><span
          style="font-family: Montserrat; font-weight: 400"><em>Y ahora, hijos e hijas, dejadme que me
            detenga en otro aspecto particularmente entrañable de la vida ordinaria. Me refiero al amor
            humano, al amor limpio entre un hombre y una mujer, al noviazgo, al matrimonio. He de decir una
            vez más que ese santo amor humano no es algo permitido, tolerado, junto a las verdaderas
            actividades del espíritu, como podría insinuarse en los falsos espiritualismos a que antes
            aludía. Llevo predicando de palabra y por escrito todo lo contrario dese hace cuarenta años
            (...).</em></span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400"><em>El amor que
            conduce al matrimonio y a la familia, puede ser también un camino divino, vocacional,
            maravilloso, cauce para una completa dedicación a Dios. Realizad las cosas con perfección, os he
            recordado, poned amor en las pequeñas actividades de la jornada, descubrid insisto ese algo
            divino que en los detalles se encierra: toda esta doctrina encuentra especial lugar en el
            espacio vital, en el que se encuadra el amor humano (San Josemaría, Conversaciones, n.
            121).</em></span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Una vez me hicieron
          una pregunta ¿quién eres? Para la cual respondí mi nombre, y sí nuestro nombre nos identifica,
          pero no es suficiente. Y a veces se nos olvida esta realidad, que somos personas, seres humanos,
          hombres o mujeres, con cuerpo, con alma y espíritu, que fuimos creados como seres único e
          irrepetibles, que nuestra vida tiene un propósito y un sentido.</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Vivimos una vida
          ordinaria, pero dentro de la simplicidad de la vida cada uno tiene un llamado particular
          extraordinario y es el llamado al Amor. Todos estamos llamados a amar y a ser amados. Estamos
          llamados al amor divino, a vivir en esa comunión de amor con Dios Padre, Dios Hijo y Dios Espíritu
          Santo; pero también estamos llamados al amor humano, a amar al otro así como Dios me ama y
          particularmente en nuestra vocación y estado de vida.</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Como bien sabemos y
          no está demás repetirlo, el ser humano es un ser complejo pero único, existe en nosotros dos
          realidades la corporalidad y la espiritualidad, somos cuerpo y espíritu; podríamos pensar que son
          contrarios como el blanco y el negro, aunque son muy distintos entre los dos forman una unidad
          sustancial.</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Ahora conocemos
          esta verdad, sin embargo, hace mucho tiempo no; a lo largo de la historia han existido diferentes
          concepciones acerca del ser humano, unas enfocadas al “espiritualismo”, el cual considera al
          espíritu como la única sustancia y el cuerpo como producto del espíritu; y otras más
          “naturalistas” considerando sólo la existencia del cuerpo. Ningún extremo es bueno, ver al hombre
          como solo espíritu o solo como materia es reducirlo.</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Dice el papa y
          santo Juan Pablo II: <em>“El cuerpo nunca puede reducirse a pura materia, porque es un cuerpo
            espiritualizado, as</em>í<em> como el esp</em>í<em>ritu est</em>á<em> tan profundamente unido al
            cuerpo que se puede definir como un esp</em>í<em>ritu corporeizado.” </em>El cuerpo es como el
          vestido del alma, lo que hacemos a nuestro cuerpo también se lo hacemos a nuestra alma. No podemos
          reducir al ser humano a solo cuerpo o solo alma, o decir que uno es superior al otro. La vida del
          hombre no oscila entre “opuestos” cuerpo – alma, sexualidad- espiritualidad, razón- fe; ambos se
          complementan. Cuando amamos no amamos solo con el alma o solo con el cuerpo, amamos con todo
          nuestro ser persona.</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Dentro del plan que
          Dios tiene para el hombre, esta el matrimonio como una vocación que esta llamada a ser reflejo de
          la unión y entrega de Cristo a su Iglesia. El matrimonio y la sexualidad son buenas, queridas y
          creadas desde el principio por Dios.</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">El amor que siente
          una persona por otra no está mal, nos puede llevar a la santidad, teniendo la claridad sobre que
          es el amor, en ese sentido, la sexualidad humana está esencialmente ordenada para manifestar la
          vocación de la persona a ser don de sí mismo a la otra persona, es ahí donde la persona se
          descubre a sí misma y descubre al otro.</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">El matrimonio es
          una hermosa realidad que Dios ama y quiere ver pleno de felicidad. Ese amor que conduce al
          matrimonio y la familia es una amor santificante, un amor que sana, un amor que se debe descubrir,
          demostrar y enseñar en el día a día. La familia es escuela de amor, porque la convivencia diaria
          obliga a acoger a los otros con respeto, diálogo, comprensión, tolerancia y paciencia.</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">En la encíclica
          Redemptor hominis, el Papa Juan Pablo II dice: “El hombre no puede vivir sin amor. Él es para sí
          mismo un ser incomprensible y su vida es destituida de sentido, sino no le fuera revelado el amor,
          si él no se encuentra con el amor, sino lo experimenta y si lo vuelve algo propio, sin él no
          participa vivamente.” (RH, 10) El amor es más fuerte que la muerte y es capaz de superar todos los
          obstáculos para construir al otro, “…el amor es fuerte como la muerte…sus centellas son centellas
          de fuego, una llama divina. Las torrentes no podrían apagar en amor, ni los ríos lo podrían
          sumergir” (Cant 8, 6-7). Paul Claudel dice “El amor verdadero es un don recíproco que dos seres
          felices hacen libremente de sí mismos, de todo lo que son y tienen. Esto le pareció a Dios algo
          tan grande que Él lo convirtió en sacramento.”</span></p>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">La familia y el
          matrimonio están en la base de todo el plan de Dios para la humanidad, si ellos fueran destruidos,
          la humanidad sufrirá mucho. Amar es construir al otro, ayudarlo a crecer, a vencer sus problemas.
          Quien no esta dispuesto a sacrificarse no esta dispuesto a amar. Todos estamos llamados a la
          perfección en el amor, haciendo de nuestra vida ordinaria una vida extraordinaria, el secreto esta
          en el Amor, en amar en lo pequeño para amar en la grandeza, en amar en las alegrías pero también
          en las tristezas, en amor en el monte Tabor y en el monte Calvario, en ver el amor divino en el
          amor humano, a través de pequeñas cosas como:</span></p>
      <ul dir="auto">
        <li>
          <p class="body" style="--lineHeightDesktop: 1.2" dir="auto"><span
              style="font-family: Montserrat; font-weight: 400">Expresiones de amor.</span></p>
        </li>
        <li>
          <p class="body" style="--lineHeightDesktop: 1.2" dir="auto"><span
              style="font-family: Montserrat; font-weight: 400">Comunicación espontánea sobre lo
              cotidiano.</span></p>
        </li>
        <li>
          <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Diálogo.</span>
          </p>
        </li>
        <li>
          <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Detalles que
              alegran la vida cotidiana.</span></p>
        </li>
        <li>
          <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Pequeños
              regalos y servicios.</span></p>
        </li>
        <li>
          <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Cuidando la
              intimidad y la vida sexual.</span></p>
          <p class="body" dir="auto"></p>
        </li>
      </ul>
      <p class="body" dir="auto"><span style="font-family: Montserrat; font-weight: 400">Recuerdo tres
          palabras que el Papa Franciso recomienda en la vida cotidiana: decir permiso, gracias y
          perdón.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div><!--]--><!--]-->
</div><!----><!----><!----><!----><!---->
</section>

</BaseLayout>
