---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout >
              <section id="ai-VQu86B" class="block block--desktop-first-visible block--mobile-first-visible"
            style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
            data-v-0c4679dd="" data-qa="block">
            <div class="block-background transition-with-bg" data-v-0c4679dd=""
              style="--f9f3716a:transparent;--232c59c7:85%;--24e13266:85%;--2e633380:15%;--b98e7ee4:center;--8481c29a:0.21;">
              <!----><video src="https://videos.pexels.com/video-files/5976346/5976346-uhd_2732_1440_24fps.mp4"
                autoplay="" muted="" loop="" playsinline="" class="block-background__image"
                poster="https://images.pexels.com/videos/5976346/baltic-sea-bath-bathe-bathing-5976346.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=630&amp;w=1200"></video>
              <div class="block-background__overlay"></div>
            </div>
            <div class="block-layout block-layout--layout"
              style="--m-grid-template-rows:19.72222222222222vw 17.77777777777778vw auto auto 109px;--t-grid-template-rows:minmax(71px, auto) minmax(64px, auto) minmax(44px, auto) minmax(10px, auto) 1fr;--small-desktop-grid-template-rows:12.418300653594772vw 13.071895424836601vw auto 3.5947712418300655vw 158px;--grid-template-rows:minmax(152px, auto) minmax(160px, auto) minmax(12px, auto) minmax(44px, auto) 1fr;--m-grid-template-columns:18.597560975609756% 6.707317073170732% 49.390243902439025% 6.402439024390244% 18.902439024390244%;--grid-template-columns:20.996732026143793% 19.362745098039216% 19.28104575163399% 21.568627450980394% 18.790849673202615%;--m-block-min-height:auto;--t-block-min-height:298px;--small-desktop-block-min-height:auto;--block-min-height:526px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
              data-v-0c4679dd=""><!--[--><!--[-->
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/4;--grid-column:2/5;--m-grid-row:2/5;--m-grid-column:2/5;--556236e0:172px;--6114ddae:118px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:ai-ehgolf" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="ai-ehgolF"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:ai-ehgolf">
                  <h1
                    style="color: rgb(255, 255, 255); --lineHeightMobile: 1.3; --lineHeightDesktop: 0.86; --fontSizeMobile: 18px"
                    dir="auto">Te acompañamos en<br> tu proceso psicológico</h1>
                  <p class="body"
                    style="color: rgb(255, 255, 255); --lineHeightMobile: 1.3; --lineHeightDesktop: 0.86; --fontSizeMobile: 18px"
                    dir="auto"></p>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:3/5;--grid-column:3/4;--m-grid-row:3/4;--m-grid-column:3/4;--556236e0:56px;--6114ddae:44px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:ai--aiobo" data-animation-state="active"><!--[--><a
                  href="https://wa.me/593998873797" target="_blank" rel="nofollow"
                  class="grid-button grid-button--primary layout-element__component layout-element__component--GridButton"
                  aria-hidden="false"
                  style="--font-size-mobile:14px;--font-size-desktop:19px;--font-weight:500;--border-radius:28px;--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:#ffffff;--border-color:rgb(69, 123, 157);--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:#ffffff;--border-color-hover:#ffffff;--m-height:12.222222222222221vw;--m-width:45vw;"
                  id="ai--aiOBO" data-v-862b8f16="" data-v-dc96b232="" data-qa="gridbutton:ai--aiobo">Quiero una
                  cita</a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div><!--]--><!--]-->
            </div><!----><!----><!----><!----><!---->
          </section>
          <section id="ai-2sh7o1" class="block"
            style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
            data-v-0c4679dd="" data-qa="block">
            <div class="block-background block-background--fixed transition-with-bg" data-v-0c4679dd=""
              style="--f9f3716a: linear-gradient(217deg, rgb(10, 181, 203), rgb(0, 80, 134)); --232c59c7: 20%; --24e13266: 90%; --2e633380: 80%; --b98e7ee4: center; --8481c29a: false;">
              <!----><!----><!---->
            </div>
            <div class="block-layout block-layout--layout"
              style="--m-grid-template-rows:6.944444444444445vw auto auto 5vw auto 39px;--t-grid-template-rows:minmax(25px, auto) minmax(79px, auto) minmax(320px, auto) minmax(18px, auto) minmax(118px, auto) 1fr;--small-desktop-grid-template-rows:8.415032679738562vw 0.08169934640522876vw auto 1.1437908496732025vw 8.660130718954248vw auto 93px;--grid-template-rows:minmax(103px, auto) minmax(1px, auto) minmax(160px, auto) minmax(14px, auto) minmax(106px, auto) minmax(16px, auto) 1fr;--m-grid-template-columns:7.317073170731707% 0.3048780487804878% 29.878048780487802% 24.695121951219512% 30.182926829268293% 7.621951219512195%;--grid-template-columns:4.084967320261438% 34.39542483660131% 7.598039215686274% 24.509803921568626% 23.12091503267974% 6.290849673202614%;--m-block-min-height:auto;--t-block-min-height:599px;--small-desktop-block-min-height:auto;--block-min-height:493px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
              data-v-0c4679dd=""><!--[--><!--[-->
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:left;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:3/4;--grid-column:4/6;--m-grid-row:3/4;--m-grid-column:3/7;--556236e0:160px;--6114ddae:320px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:ai-cih_wm" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="ai-cIh_wM"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:ai-cih_wm">
                  <p dir="auto" style="color: rgb(255, 255, 255); --lineHeightDesktop: 1.3; --fontSizeDesktop: 16px"
                    class="body"><span style="font-family: Quicksand; font-weight: 400">Fundada con el propósito
                      de<strong> transformar vidas</strong>, LiVe es una organización comprometida con la promoción de
                      la <strong>salud mental</strong>.<br>Inspirados por los valores de <strong>empatía</strong>,
                      <strong>autenticidad</strong> y <strong>accesibilidad</strong>, trabajamos para crear un impacto
                      global a través de recursos innovadores, talleres, terapia y acompañamiento psicológico.</span>
                  </p>
                  <p dir="auto" style="color: rgb(255, 255, 255); --lineHeightDesktop: 1.3; --fontSizeDesktop: 16px"
                    class="body"><span style="font-family: Quicksand; font-weight: 400">Suscríbete
                      <strong>gratis</strong> a nuestra boletín mensual</span></p>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--undefined"
                style="--text:left;--align:space-between;--justify:center;--formSpacing:22px 10px;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:5/7;--grid-column:4/5;--m-grid-row:5/6;--m-grid-column:2/6;--556236e0:122px;--6114ddae:118px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:z29rol"><!--[--><!----><!----><!---->
                <div id="z29ROl"
                  class="form form--single-field layout-element__component layout-element__component--GridForm"
                  style="--form-button-justify-self:start;--form-background-color:transparent;--form-border-width:nullpx;--form-border-color:rgb(91, 178, 193);--form-border-radius:nullpx;--form-font-family:Quicksand;--form-font-weight:500;--input-fill-color:rgb(241, 241, 241);--input-fill-color--hover:rgb(241, 241, 241);--label-text-color:rgb(26, 26, 26);--input-text-color:rgb(26, 26, 26);--input-text-color--hover:rgb(26, 26, 26);--input-height:48px;--input-border-color:rgb(26, 26, 26);--input-border-color--hover:rgb(26, 26, 26);--input-border-radius:14px;--form-spacing:var(--formSpacing);--grid-item-inner-padding:var(--gridItemInnerPadding);--grid-item-inner-background:var(--gridItemInnerBackground);"
                  data-v-862b8f16="" data-v-ca2c4eaa="" data-qa="gridform:z29rol">
                  <form name="Subscribe form" class="form__control" data-v-ca2c4eaa="" netlify><!--[--><!--[-->
                    <div class="input input--light" data-v-ca2c4eaa="" data-v-a7cf67cd="" data-qa="form-field-"><label
                        for="Tu correo electrónico " class="input__label--light input__label"
                        data-v-a7cf67cd=""></label><input name="email" id="Tu correo electrónico "
                        placeholder="Tu correo electrónico " type="text"
                        class="input__component--light input__component" value="" tabindex="0"
                        data-v-a7cf67cd=""><!----><!----></div><!----><!--]--><!--]--><button type="submit"
                      name="submit" class="grid-button grid-button--primary form__button" aria-hidden="false"
                      style="--font-family:Quicksand;--font-weight:700;--border-radius:25px;--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:rgb(255, 255, 255);--border-color:rgb(0, 0, 0);--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:rgb(255, 255, 255);--border-color-hover:rgb(0, 0, 0);--m-height:0vw;--m-width:0vw;"
                      data-v-ca2c4eaa="" data-v-dc96b232="" data-qa="form-button-submit">Suscribirme</button>
                  </form><!--[--><!----><!--]-->
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div
                class="layout-element layout-element--layout layout-elementtransition--slide transition--root-hidden"
                style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:3;--grid-row:2/6;--grid-column:2/3;--m-grid-row:2/3;--m-grid-column:4/5;--556236e0:281px;--6114ddae:79px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zvv1vh">
                <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                <div id="zVv1VH"
                  class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
                  data-v-862b8f16="" style="--54a109e6:281px;--3e67ee8b:79px;" data-v-cb1e0aee=""
                  data-qa="gridimage:zvv1vh">
                  <div rel="nofollow" title=""
                    style="--9c00fd5c:34.39542483660131vw;--09ad0563:22.95751633986928vw;--5de16d65:100%;--4beec8a0:auto;"
                    class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
                    data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
                    data-animation-state="active"><img alt=""
                      src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=513,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png"
                      srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=251,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=513,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=684,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=684,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=513,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 421w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=684,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 842w"
                      sizes="(min-width: 920px) 421px, 81px" height="281" width="421" loading="eager"
                      class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
                  </div>
                  <div rel="nofollow" title=""
                    style="--9c00fd5c:6.617647058823529vw;--09ad0563:6.454248366013072vw;--5de16d65:22.5vw;--4beec8a0:21.944444444444443vw;"
                    class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
                    data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
                      src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png"
                      srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=749,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=1000,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1405,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 81w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=366,fit=crop/Yanq2pnyPJF4kBgZ/desde-doinde-estes-agenda-tu-cita-tarjeta-148a-xa-105a-mm-1-A3Q2v347agHapo8E.png 162w"
                      sizes="(min-width: 920px) 421px, 81px" height="79" width="81" loading="eager" class="image__image"
                      data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]--></div>
                </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div><!--]--><!--]-->
            </div><!----><!----><!----><!----><!---->
          </section>
          <section id="zzTOdC" class="block"
            style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
            data-v-0c4679dd="" data-qa="block">
            <div class="block-background block-background--fixed transition-with-bg" data-v-0c4679dd=""
              style="--f9f3716a: rgb(255, 255, 255); --232c59c7: 85%; --24e13266: 85%; --2e633380: 15%; --b98e7ee4: bottom; --8481c29a: false;">
              <!----><!----><!---->
            </div>
            <div class="block-layout block-layout--layout"
              style="--m-grid-template-rows:11.38888888888889vw auto 10.833333333333334vw auto 6.388888888888889vw auto 3.3333333333333335vw auto 3.0555555555555554vw auto 20.27777777777778vw auto 2.2222222222222223vw auto 4.166666666666667vw auto 5.555555555555555vw auto 16.666666666666668vw auto 4.166666666666667vw auto 4.166666666666667vw auto 5.555555555555555vw auto 60px;--t-grid-template-rows:minmax(41px, auto) minmax(26px, auto) minmax(39px, auto) minmax(71px, auto) minmax(23px, auto) minmax(26px, auto) minmax(12px, auto) minmax(120px, auto) minmax(11px, auto) minmax(50px, auto) minmax(73px, auto) minmax(74px, auto) minmax(8px, auto) minmax(26px, auto) minmax(15px, auto) minmax(144px, auto) minmax(20px, auto) minmax(50px, auto) minmax(60px, auto) minmax(85px, auto) minmax(15px, auto) minmax(26px, auto) minmax(15px, auto) minmax(120px, auto) minmax(20px, auto) minmax(50px, auto) 1fr;--small-desktop-grid-template-rows:6.127450980392157vw auto 2.7777777777777777vw 0.32679738562091504vw 0.5718954248366013vw auto auto 0.08169934640522876vw 1.7156862745098038vw auto 1.1437908496732025vw auto 1.9607843137254901vw 1.2254901960784315vw auto 132px;--grid-template-rows:minmax(75px, auto) minmax(31px, auto) minmax(34px, auto) minmax(4px, auto) minmax(7px, auto) minmax(109px, auto) minmax(2px, auto) minmax(1px, auto) minmax(21px, auto) minmax(26px, auto) minmax(14px, auto) minmax(144px, auto) minmax(24px, auto) minmax(15px, auto) minmax(50px, auto) 1fr;--m-grid-template-columns:7.01219512195122% 5.7926829268292686% 3.353658536585366% 4.878048780487805% 0.9146341463414633% 3.9634146341463414% 0.3048780487804878% 4.573170731707317% 2.4390243902439024% 0.9146341463414633% 31.402439024390244% 0.9146341463414633% 2.4390243902439024% 4.573170731707317% 0.6097560975609756% 3.9634146341463414% 0.6097560975609756% 5.182926829268292% 3.048780487804878% 6.097560975609756% 7.01219512195122%;--grid-template-columns:15.931372549019606% 1.715686274509804% 0.6535947712418301% 0.08169934640522876% 12.663398692810457% 0.16339869281045752% 0.6535947712418301% 1.6339869281045754% 7.516339869281046% 1.5522875816993464% 0.08169934640522876% 0.8169934640522877% 12.663398692810457% 0.8986928104575163% 1.5522875816993464% 6.209150326797386% 2.369281045751634% 1.3888888888888888% 0.40849673202614384% 12.663398692810457% 0.49019607843137253% 0.49019607843137253% 3.2679738562091507% 14.133986928104575%;--m-block-min-height:auto;--t-block-min-height:1280px;--small-desktop-block-min-height:auto;--block-min-height:689px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
              data-v-0c4679dd=""><!--[--><!--[-->
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/3;--grid-column:1/25;--m-grid-row:2/3;--m-grid-column:1/22;--556236e0:31px;--6114ddae:26px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zr02vk" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zR02vK"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:zr02vk">
                  <h3
                    style="color: rgb(14, 154, 182); --lineHeightMobile: 1.3; --lineHeightDesktop: 1.3; --fontSizeMobile: 20px; --fontSizeDesktop: 24px"
                    dir="auto"><span style="font-family: Quicksand; font-weight: 400"><strong>Nuestros
                        servicios</strong></span></h3>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:left;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:10/11;--grid-column:3/8;--m-grid-row:6/7;--m-grid-column:6/17;--556236e0:26px;--6114ddae:26px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zrcone" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zrcoNE"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:zrcone">
                  <h6 style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px" dir="auto">
                    <strong>Terapia Individual</strong>
                  </h6>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:3;--grid-row:12/13;--grid-column:2/9;--m-grid-row:8/9;--m-grid-column:3/20;--556236e0:144px;--6114ddae:120px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zo_mfr" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zO_mfR"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:zo_mfr">
                  <p class="body" style="color: rgb(86, 88, 94)" dir="auto"><span
                      style="font-family: Quicksand; font-weight: 400">La terapia individual es un proceso terapéutico
                      en el cual una persona trabaja de forma uno a uno con un profesional de la salud mental. </span>
                  </p>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div
                class="layout-element layout-element--layout layout-elementtransition--slide transition--root-hidden"
                style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:4;--grid-row:6/8;--grid-column:4/7;--m-grid-row:4/5;--m-grid-column:11/12;--556236e0:111px;--6114ddae:71px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zzqxej">
                <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                <div id="zZQXEj"
                  class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
                  data-v-862b8f16="" style="--54a109e6:111px;--3e67ee8b:71px;" data-v-cb1e0aee=""
                  data-qa="gridimage:zzqxej">
                  <div rel="nofollow" title=""
                    style="--f177488a:20px;--9c00fd5c:12.908496732026144vw;--09ad0563:9.068627450980392vw;--7cc1e967:20px;--5de16d65:100%;--4beec8a0:auto;"
                    class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
                    data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
                    data-animation-state="active"><img alt=""
                      src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=264,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png"
                      srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=263,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=540,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=720,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=720,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=264,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 158w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=264,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 316w"
                      sizes="(min-width: 920px) 158px, 103px" height="111" width="158" loading="lazy"
                      class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
                  </div>
                  <div rel="nofollow" title=""
                    style="--f177488a:20px;--9c00fd5c:8.415032679738562vw;--09ad0563:5.800653594771242vw;--7cc1e967:20px;--5de16d65:28.61111111111111vw;--4beec8a0:19.72222222222222vw;"
                    class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
                    data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
                      src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=259,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png"
                      srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=259,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=530,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=706,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=992,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=259,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 103w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=259,fit=crop/Yanq2pnyPJF4kBgZ/2-m6LZnBnVMpHPMjDl.png 206w"
                      sizes="(min-width: 920px) 158px, 103px" height="71" width="103" loading="lazy"
                      class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
                  </div>
                </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:left;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:5;--grid-row:10/11;--grid-column:11/15;--m-grid-row:14/15;--m-grid-column:5/18;--556236e0:26px;--6114ddae:26px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zc05bx" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zC05BX"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:zc05bx">
                  <h6 dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px">
                    <strong>Terapia de Pareja</strong>
                  </h6>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:6;--grid-row:12/14;--grid-column:10/16;--m-grid-row:16/17;--m-grid-column:4/19;--556236e0:168px;--6114ddae:144px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zbuz5v" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zBUz5v"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:zbuz5v">
                  <p class="body" dir="auto"><span style="font-family: Quicksand; font-weight: 300">La terapia de pareja
                      es un proceso terapéutico diseñado para ayudar a las parejas a mejorar su comunicación, resolver
                      conflictos y fortalecer su relación. </span></p>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:7;--grid-row:12/14;--grid-column:18/23;--m-grid-row:24/25;--m-grid-column:4/19;--556236e0:168px;--6114ddae:120px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zqew_n" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zQEw_N"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:zqew_n">
                  <p class="body" dir="auto"><span style="font-family: Quicksand; font-weight: 300">Ofrecemos una amplia
                      gama de servicios diseñados </span><br><span style="font-family: Quicksand; font-weight: 300">para
                      potenciar el </span><br><span style="font-family: Quicksand; font-weight: 300">bienestar y el
                      rendimiento dentro de las organizaciones. </span></p>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:left;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:8;--grid-row:10/11;--grid-column:17/24;--m-grid-row:22/23;--m-grid-column:2/21;--556236e0:26px;--6114ddae:26px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zqm0ev" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zqM0eV"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:zqm0ev">
                  <h6 dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px">
                    <strong>Servicio para instituciones</strong>
                  </h6>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div
                class="layout-element layout-element--layout layout-elementtransition--slide transition--root-hidden"
                style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:9;--grid-row:5/7;--grid-column:19/22;--m-grid-row:20/21;--m-grid-column:9/14;--556236e0:116px;--6114ddae:85px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zs7hpo">
                <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                <div id="zs7HPO"
                  class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
                  data-v-862b8f16="" style="--54a109e6:116px;--3e67ee8b:85px;" data-v-cb1e0aee=""
                  data-qa="gridimage:zs7hpo">
                  <div rel="nofollow" title=""
                    style="--f177488a:20px;--9c00fd5c:13.562091503267974vw;--09ad0563:9.477124183006536vw;--7cc1e967:20px;--5de16d65:100%;--4beec8a0:auto;"
                    class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
                    data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
                    data-animation-state="active"><img alt=""
                      src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=263,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png"
                      srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=262,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=537,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=716,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=716,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=263,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 166w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=263,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 332w"
                      sizes="(min-width: 920px) 166px, 125px" height="116" width="166" loading="lazy"
                      class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
                  </div>
                  <div rel="nofollow" title=""
                    style="--f177488a:20px;--9c00fd5c:10.212418300653594vw;--09ad0563:6.944444444444445vw;--7cc1e967:20px;--5de16d65:34.72222222222222vw;--4beec8a0:23.61111111111111vw;"
                    class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
                    data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
                      src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=255,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png"
                      srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=256,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=523,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=697,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=979,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=255,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 125w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=255,fit=crop/Yanq2pnyPJF4kBgZ/3-Yan1XRXeZJtnM0QK.png 250w"
                      sizes="(min-width: 920px) 166px, 125px" height="85" width="125" loading="lazy"
                      class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
                  </div>
                </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div
                class="layout-element layout-element--layout layout-elementtransition--slide transition--root-hidden"
                style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:10;--grid-row:4/9;--grid-column:12/15;--m-grid-row:12/13;--m-grid-column:10/13;--556236e0:123px;--6114ddae:74px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:z0iqrm">
                <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
                <div id="z0IQrm"
                  class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
                  data-v-862b8f16="" style="--54a109e6:123px;--3e67ee8b:74px;" data-v-cb1e0aee=""
                  data-qa="gridimage:z0iqrm">
                  <div rel="nofollow" title=""
                    style="--f177488a:20px;--9c00fd5c:14.379084967320262vw;--09ad0563:10.049019607843137vw;--7cc1e967:20px;--5de16d65:100%;--4beec8a0:auto;"
                    class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
                    data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
                    data-animation-state="active"><img alt=""
                      src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=263,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png"
                      srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=262,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=537,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=716,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=716,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=263,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 176w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=263,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 352w"
                      sizes="(min-width: 920px) 176px, 109px" height="123" width="176" loading="lazy"
                      class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
                  </div>
                  <div rel="nofollow" title=""
                    style="--f177488a:20px;--9c00fd5c:8.905228758169935vw;--09ad0563:6.045751633986928vw;--7cc1e967:20px;--5de16d65:30.27777777777778vw;--4beec8a0:20.555555555555557vw;"
                    class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
                    data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
                      src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=255,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png"
                      srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=255,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=522,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=696,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=978,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=255,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 109w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=255,fit=crop/Yanq2pnyPJF4kBgZ/4-mxB4LRLy06sVRxE1.png 218w"
                      sizes="(min-width: 920px) 176px, 109px" height="74" width="109" loading="lazy"
                      class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
                  </div>
                </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:11;--grid-row:15/16;--grid-column:5/6;--m-grid-row:18/19;--m-grid-column:7/16;--556236e0:50px;--6114ddae:50px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:z0rsfr" data-animation-state="active"><!--[--><a
                  href="https://wa.me/593998873797" target="_blank" rel="nofollow"
                  class="grid-button grid-button--primary layout-element__component layout-element__component--GridButton"
                  aria-hidden="false"
                  style="--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:rgb(255, 255, 255);--border-color:rgb(0, 0, 0);--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:rgb(255, 255, 255);--border-color-hover:rgb(0, 0, 0);--m-height:13.88888888888889vw;--m-width:43.888888888888886vw;"
                  id="z0RsFr" data-v-862b8f16="" data-v-dc96b232="" data-qa="gridbutton:z0rsfr">Agenda tu
                  cita</a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:12;--grid-row:15/16;--grid-column:20/21;--m-grid-row:26/27;--m-grid-column:8/15;--556236e0:50px;--6114ddae:50px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:z4or9i" data-animation-state="active"><!--[--><a
                  href="/#contacto" target="_self" rel=""
                  class="grid-button grid-button--primary layout-element__component layout-element__component--GridButton"
                  aria-hidden="false"
                  style="--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:rgb(255, 255, 255);--border-color:rgb(0, 0, 0);--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:rgb(255, 255, 255);--border-color-hover:rgb(0, 0, 0);--m-height:13.88888888888889vw;--m-width:43.05555555555556vw;"
                  id="z4or9i" data-v-862b8f16="" data-v-dc96b232=""
                  data-qa="gridbutton:z4or9i">Contáctanos</a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:13;--grid-row:15/16;--grid-column:13/14;--m-grid-row:10/11;--m-grid-column:8/15;--556236e0:50px;--6114ddae:50px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zwgwqg" data-animation-state="active"><!--[--><a
                  href="https://wa.me/593998873797" target="_blank" rel="nofollow"
                  class="grid-button grid-button--primary layout-element__component layout-element__component--GridButton"
                  aria-hidden="false"
                  style="--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:rgb(255, 255, 255);--border-color:rgb(0, 0, 0);--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:rgb(255, 255, 255);--border-color-hover:rgb(0, 0, 0);--m-height:13.88888888888889vw;--m-width:43.05555555555556vw;"
                  id="zwgwqG" data-v-862b8f16="" data-v-dc96b232="" data-qa="gridbutton:zwgwqg">Agenda tu
                  cita</a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div><!--]--><!--]-->
            </div><!----><!----><!----><!----><!---->
          </section>
          <section id="contacto" class="block"
            style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
            data-v-0c4679dd="" data-qa="block">
            <div class="block-background block-background--fixed transition-with-bg" data-v-0c4679dd=""
              style="--f9f3716a: linear-gradient(135deg, rgb(8, 162, 190), rgb(1, 97, 145)); --232c59c7: 85%; --24e13266: 85%; --2e633380: 15%; --b98e7ee4: center; --8481c29a: false;">
              <!----><!----><!---->
            </div>
            <div class="block-layout block-layout--layout"
              style="--m-grid-template-rows:6.666666666666667vw auto 0.2777777777777778vw auto 3.888888888888889vw auto 3.611111111111111vw auto 56px;--t-grid-template-rows:minmax(24px, auto) minmax(42px, auto) minmax(1px, auto) minmax(24px, auto) minmax(14px, auto) minmax(24px, auto) minmax(13px, auto) minmax(460px, auto) 1fr;--small-desktop-grid-template-rows:6.5359477124183005vw 1.4705882352941178vw auto auto 1.3071895424836601vw auto 24.673202614379086vw 81px;--grid-template-rows:minmax(80px, auto) minmax(18px, auto) minmax(62px, auto) minmax(24px, auto) minmax(16px, auto) minmax(24px, auto) minmax(302px, auto) 1fr;--m-grid-template-columns:4.2682926829268295% 24.695121951219512% 41.76829268292683% 24.695121951219512% 4.573170731707317%;--grid-template-columns:18.954248366013072% 0.16339869281045752% 12.418300653594772% 16.584967320261438% 7.352941176470589% 26.062091503267975% 18.4640522875817%;--m-block-min-height:auto;--t-block-min-height:658px;--small-desktop-block-min-height:auto;--block-min-height:607px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
              data-v-0c4679dd=""><!--[--><!--[-->
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:3/4;--grid-column:2/6;--m-grid-row:2/3;--m-grid-column:1/6;--556236e0:62px;--6114ddae:42px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:ai-mxzznz" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="ai-mxZzNz"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:ai-mxzznz">
                  <h3 style="color: rgb(255, 255, 255)" dir="auto">Contáctanos</h3>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--justify:center;--formSpacing:22px 10px;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:2/8;--grid-column:5/7;--m-grid-row:8/9;--m-grid-column:2/5;--556236e0:446px;--6114ddae:460px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zhhvvt" data-animation-state="active">
                <!--[--><!----><!----><!---->
                <div id="zhHvvt" class="form layout-element__component layout-element__component--GridForm"
                  style="--form-button-justify-self:start;--form-background-color:#ffffff;--form-border-width:0px;--form-border-radius:20px;--form-padding:32px;--form-font-family:Quicksand;--form-font-weight:400;--input-fill-color:#ffffff;--input-fill-color--hover:#ffffff;--label-text-color:#0d141a;--label-text-size:14px;--input-text-color:#0d141a;--input-text-color--hover:#0d141a;--input-text-size:16px;--input-height:auto;--input-border-color:rgb(69, 123, 157);--input-border-color--hover:#0d141a;--input-border-width:1px;--input-border-radius:10px;--form-elements-vertical-spacing:16px;--form-spacing:var(--formSpacing);--grid-item-inner-padding:var(--gridItemInnerPadding);--grid-item-inner-background:var(--gridItemInnerBackground);"
                  data-v-862b8f16="" data-v-ca2c4eaa="" data-qa="gridform:zhhvvt">
                  <form name="Contact form 2" class="form__control" data-v-ca2c4eaa="" netlify><!--[--><!--[-->
                    <div class="input input--light" data-v-ca2c4eaa="" data-v-a7cf67cd="" data-qa="form-field-tunombre">
                      <label for="Tu nombre " class="input__label--light input__label" data-v-a7cf67cd="">Tu nombre
                        *</label><input id="Tu nombre " placeholder="Escribe tu nombre aquí" type="text"
                        class="input__component--light input__component" value="" tabindex="0"
                        data-v-a7cf67cd=""><!----><!---->
                    </div><!----><!--]--><!--[-->
                    <div class="input input--light" data-v-ca2c4eaa="" data-v-a7cf67cd=""
                      data-qa="form-field-tucorreoelectrónico"><label for="Tu correo electrónico"
                        class="input__label--light input__label" data-v-a7cf67cd="">Tu correo electrónico*</label><input
                        id="Tu correo electrónico" placeholder="Escribe tu email aquí" type="text"
                        class="input__component--light input__component" value="" tabindex="0"
                        data-v-a7cf67cd=""><!----><!----></div><!----><!--]--><!--[-->
                    <div class="input input--light" data-v-ca2c4eaa="" data-v-a7cf67cd=""
                      data-qa="form-field-tumensaje"><label for="Tu mensaje" class="input__label--light input__label"
                        data-v-a7cf67cd="">Tu mensaje*</label><!----><textarea id="Tu mensaje"
                        placeholder="Escribe tu mensaje aquí" type="text"
                        class="input__component--textarea input__component--light input__component--no-textarea-resize input__component"
                        tabindex="0" data-v-a7cf67cd=""></textarea><!----></div><!----><!--]--><!--]--><button
                      type="submit" name="submit" class="grid-button grid-button--primary form__button"
                      aria-hidden="false"
                      style="--font-family:Quicksand;--font-weight:400;--border-radius:50px;--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:#ffffff;--border-color:#0d141a;--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:#ffffff;--border-color-hover:#0d141a;--m-height:0vw;--m-width:0vw;"
                      data-v-ca2c4eaa="" data-v-dc96b232="" data-qa="form-button-submit">Enviar mensaje</button>
                  </form><!--[--><!----><!--]-->
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:3;--grid-row:4/5;--grid-column:2/6;--m-grid-row:6/7;--m-grid-column:1/6;--556236e0:24px;--6114ddae:24px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:ai-asds95" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!---->
                <div class="text-box layout-element__component layout-element__component--GridTextBox" id="ai-AsDS95"
                  data-v-862b8f16="" style="" data-qa="gridtextbox:ai-asds95">
                  <p class="body" style="color: rgb(255, 255, 255)" dir="auto"><span
                      style="font-family: Quicksand; font-weight: 400">Estamos aquí para ayudarte<strong>
                        ¡Escríbenos!</strong></span></p>
                </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div>
              <div class="layout-element layout-element--layout layout-elementtransition--slide"
                style="--icon-size:24px;--icon-color:#ffffff;--icon-spacing:space-around;--icon-direction:row;--icon-color-hover:#ffffff;--m-element-margin:0 0 32px 0;--space-between-icons:32px;--z-index:4;--grid-row:6/7;--grid-column:3/4;--m-grid-row:4/5;--m-grid-column:3/4;--556236e0:24px;--6114ddae:24px;"
                data-v-862b8f16="" data-qa="layout-element-wrapper:zqzq0u" data-animation-state="active">
                <!--[--><!----><!----><!----><!----><!----><!----><!---->
                <div
                  class="social-icons social-icons--row layout-element__component layout-element__component--GridSocialIcons"
                  style="--m-icon-direction:row;--icon-padding-vertical:0;--icon-padding-horizontal:var(--space-between-icons);height:100%;--space-between-icons:0px;"
                  id="zqzQ0u" data-v-862b8f16="" data-v-4f5a0e3f="" data-qa="gridsocialicons:zqzq0u"><!--[--><a
                    href="https://www.facebook.com/livepsicologiaonline" target="_blank" rel="noopener"
                    title="Go to Facebook page" class="social-icons__link" data-v-4f5a0e3f=""><svg
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                      <path fill="currentColor"
                        d="M24 12.0726C24 5.44354 18.629 0.0725708 12 0.0725708C5.37097 0.0725708 0 5.44354 0 12.0726C0 18.0619 4.38823 23.0264 10.125 23.9274V15.5414H7.07661V12.0726H10.125V9.4287C10.125 6.42144 11.9153 4.76031 14.6574 4.76031C15.9706 4.76031 17.3439 4.99451 17.3439 4.99451V7.94612H15.8303C14.34 7.94612 13.875 8.87128 13.875 9.82015V12.0726H17.2031L16.6708 15.5414H13.875V23.9274C19.6118 23.0264 24 18.0619 24 12.0726Z">
                      </path>
                    </svg>
                  </a><a href="https://www.instagram.com/live.psic" target="_blank" rel="noopener"
                    title="Go to Instagram page" class="social-icons__link" data-v-4f5a0e3f=""><svg
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                      <path fill="currentColor"
                        d="M12.0027 5.84808C8.59743 5.84808 5.85075 8.59477 5.85075 12C5.85075 15.4053 8.59743 18.1519 12.0027 18.1519C15.4079 18.1519 18.1546 15.4053 18.1546 12C18.1546 8.59477 15.4079 5.84808 12.0027 5.84808ZM12.0027 15.9996C9.80212 15.9996 8.00312 14.2059 8.00312 12C8.00312 9.7941 9.79677 8.00046 12.0027 8.00046C14.2086 8.00046 16.0022 9.7941 16.0022 12C16.0022 14.2059 14.2032 15.9996 12.0027 15.9996ZM19.8412 5.59644C19.8412 6.39421 19.1987 7.03135 18.4062 7.03135C17.6085 7.03135 16.9713 6.38885 16.9713 5.59644C16.9713 4.80402 17.6138 4.16153 18.4062 4.16153C19.1987 4.16153 19.8412 4.80402 19.8412 5.59644ZM23.9157 7.05277C23.8247 5.13063 23.3856 3.42801 21.9775 2.02522C20.5747 0.622429 18.8721 0.183388 16.9499 0.0870135C14.9689 -0.0254238 9.03112 -0.0254238 7.05008 0.0870135C5.1333 0.178034 3.43068 0.617075 2.02253 2.01986C0.614389 3.42265 0.180703 5.12527 0.0843279 7.04742C-0.0281093 9.02845 -0.0281093 14.9662 0.0843279 16.9472C0.175349 18.8694 0.614389 20.572 2.02253 21.9748C3.43068 23.3776 5.12794 23.8166 7.05008 23.913C9.03112 24.0254 14.9689 24.0254 16.9499 23.913C18.8721 23.822 20.5747 23.3829 21.9775 21.9748C23.3803 20.572 23.8193 18.8694 23.9157 16.9472C24.0281 14.9662 24.0281 9.03381 23.9157 7.05277ZM21.3564 19.0728C20.9388 20.1223 20.1303 20.9307 19.0755 21.3537C17.496 21.9802 13.7481 21.8356 12.0027 21.8356C10.2572 21.8356 6.50396 21.9748 4.92984 21.3537C3.88042 20.9361 3.07195 20.1276 2.64897 19.0728C2.02253 17.4934 2.16709 13.7455 2.16709 12C2.16709 10.2546 2.02789 6.50129 2.64897 4.92717C3.06659 3.87776 3.87507 3.06928 4.92984 2.6463C6.50931 2.01986 10.2572 2.16443 12.0027 2.16443C13.7481 2.16443 17.5014 2.02522 19.0755 2.6463C20.1249 3.06392 20.9334 3.8724 21.3564 4.92717C21.9828 6.50665 21.8383 10.2546 21.8383 12C21.8383 13.7455 21.9828 17.4987 21.3564 19.0728Z">
                      </path>
                    </svg>
                  </a><a href="https://www.linkedin.com/company/psicologialive/" target="_blank" rel="noopener"
                    title="Go to Linkedin-in page" class="social-icons__link" data-v-4f5a0e3f=""><svg
                      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="24" width="24">
                      <path fill="currentColor"
                        d="M6.20156 21H1.84688V6.97969H6.20156V21ZM4.02187 5.06719C2.62969 5.06719 1.5 3.91406 1.5 2.52187C1.5 1.85303 1.7657 1.21158 2.23864 0.73864C2.71158 0.265697 3.35303 0 4.02187 0C4.69072 0 5.33217 0.265697 5.80511 0.73864C6.27805 1.21158 6.54375 1.85303 6.54375 2.52187C6.54375 3.91406 5.41406 5.06719 4.02187 5.06719ZM22.4953 21H18.15V14.175C18.15 12.5484 18.1172 10.4625 15.8859 10.4625C13.6219 10.4625 13.275 12.2297 13.275 14.0578V21H8.925V6.97969H13.1016V8.89219H13.1625C13.7438 7.79062 15.1641 6.62812 17.2828 6.62812C21.6891 6.62812 22.5 9.52969 22.5 13.2984V21H22.4953Z">
                      </path>
                    </svg>
                  </a><a href="https://wa.me/593998873797" target="_blank" rel="noopener" title="Go to Whatsapp page"
                    class="social-icons__link" data-v-4f5a0e3f=""><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                      viewBox="0 0 24 24" height="24" width="24">
                      <path fill="currentColor"
                        d="M20.4054 3.4875C18.1607 1.2375 15.1714 0 11.9946 0C5.4375 0 0.101786 5.33571 0.101786 11.8929C0.101786 13.9875 0.648214 16.0339 1.6875 17.8393L0 24L6.30536 22.3446C8.04107 23.2929 9.99643 23.7911 11.9893 23.7911H11.9946C18.5464 23.7911 24 18.4554 24 11.8982C24 8.72143 22.65 5.7375 20.4054 3.4875ZM11.9946 21.7875C10.2161 21.7875 8.475 21.3107 6.95893 20.4107L6.6 20.1964L2.86071 21.1768L3.85714 17.5286L3.62143 17.1536C2.63036 15.5786 2.11071 13.7625 2.11071 11.8929C2.11071 6.44464 6.54643 2.00893 12 2.00893C14.6411 2.00893 17.1214 3.0375 18.9857 4.90714C20.85 6.77679 21.9964 9.25714 21.9911 11.8982C21.9911 17.3518 17.4429 21.7875 11.9946 21.7875ZM17.4161 14.3839C17.1214 14.2339 15.6589 13.5161 15.3857 13.4196C15.1125 13.3179 14.9143 13.2696 14.7161 13.5696C14.5179 13.8696 13.95 14.5339 13.7732 14.7375C13.6018 14.9357 13.425 14.9625 13.1304 14.8125C11.3839 13.9393 10.2375 13.2536 9.08571 11.2768C8.78036 10.7518 9.39107 10.7893 9.95893 9.65357C10.0554 9.45536 10.0071 9.28393 9.93214 9.13393C9.85714 8.98393 9.2625 7.52143 9.01607 6.92679C8.775 6.34821 8.52857 6.42857 8.34643 6.41786C8.175 6.40714 7.97679 6.40714 7.77857 6.40714C7.58036 6.40714 7.25893 6.48214 6.98571 6.77679C6.7125 7.07679 5.94643 7.79464 5.94643 9.25714C5.94643 10.7196 7.0125 12.1339 7.15714 12.3321C7.30714 12.5304 9.25179 15.5304 12.2357 16.8214C14.1214 17.6357 14.8607 17.7054 15.8036 17.5661C16.3768 17.4804 17.5607 16.8482 17.8071 16.1518C18.0536 15.4554 18.0536 14.8607 17.9786 14.7375C17.9089 14.6036 17.7107 14.5286 17.4161 14.3839Z">
                      </path>
                    </svg>
                  </a><!--]--></div><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
              </div><!--]--><!--]-->
            </div><!----><!----><!----><!----><!---->
          </section>
        </BaseLayout>
