---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout >


<section id="zAKQWp" class="block block--desktop-first-visible block--mobile-first-visible"
style="--rows:9;--width:1224px;--row-gap:0px;--row-size:64px;--column-gap:0px;--block-padding-top:40px;--block-padding:40px 0px 40px 0px;--block-padding-right:0px;--block-padding-bottom:40px;--block-padding-left:0px;--m-block-padding:64px 16px 64px 16px;--grid-gap-history:16px 24px;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a:transparent;--232c59c7:50%;--24e13266:0%;--2e633380:50%;--b98e7ee4:center;--8481c29a:0.65;">
  <!----><video src="https://videos.pexels.com/video-files/5267492/5267492-hd_1280_720_30fps.mp4"
    autoplay="" muted="" loop="" playsinline="" class="block-background__image"
    poster="https://images.pexels.com/videos/5267492/handshake-love-5267492.jpeg?auto=compress&amp;cs=tinysrgb&amp;fit=crop&amp;h=630&amp;w=1200"></video>
  <div class="block-background__overlay"></div>
</div>
<div class="block-layout block-layout--layout"
  style="--m-grid-template-rows:22.22222222222222vw auto 7.777777777777778vw auto 11.11111111111111vw auto 58px;--t-grid-template-rows:minmax(80px, auto) minmax(52px, auto) minmax(28px, auto) minmax(104px, auto) minmax(40px, auto) minmax(56px, auto) 1fr;--small-desktop-grid-template-rows:9.803921568627452vw auto auto 2.8594771241830066vw auto 124px;--grid-template-rows:minmax(120px, auto) minmax(83px, auto) minmax(42px, auto) minmax(35px, auto) minmax(56px, auto) 1fr;--m-grid-template-columns:10.670731707317072% 9.75609756097561% 59.14634146341463% 9.75609756097561% 10.670731707317072%;--grid-template-columns:25.245098039215684% 0.8169934640522877% 15.11437908496732% 17.565359477124183% 15.11437908496732% 0.8986928104575163% 25.245098039215684%;--m-block-min-height:auto;--t-block-min-height:418px;--small-desktop-block-min-height:auto;--block-min-height:460px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
  data-v-0c4679dd=""><!--[--><!--[-->
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:center;--align:flex-start;--justify:center;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/3;--grid-column:2/7;--m-grid-row:2/3;--m-grid-column:1/6;--556236e0:83px;--6114ddae:52px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zxu2x3" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zXu2X3"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zxu2x3">
      <h1 dir="auto" style="color: rgb(255, 255, 255); --lineHeightDesktop: 1.3; --fontSizeDesktop: 64px">Sé
        voluntario</h1>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:5/6;--grid-column:4/5;--m-grid-row:6/7;--m-grid-column:3/4;--556236e0:56px;--6114ddae:56px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zvzyoa" data-animation-state="active"><!--[--><a
      href="https://airtable.com/appXVzPcQaFYHBnCr/pagPn3grGtxj8v2nw/form" target="_blank" rel="nofollow"
      class="grid-button grid-button--primary layout-element__component layout-element__component--GridButton"
      aria-hidden="false"
      style="--font-size-desktop:16px;--font-family:Quicksand;--font-weight:700;--border-radius:28px;--border-width:0px;--background-color:rgb(91, 178, 193);--font-color:rgb(255, 255, 255);--border-color:rgb(0, 0, 0);--background-color-hover:rgba(2, 106, 150, 0.9);--font-color-hover:rgb(255, 255, 255);--border-color-hover:rgb(0, 0, 0);--m-height:15.555555555555555vw;--m-width:53.888888888888886vw;"
      id="zvzYoa" data-v-862b8f16="" data-v-dc96b232="" data-qa="gridbutton:zvzyoa">Quiero ser
      voluntario</a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:center;--align:flex-start;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:3;--grid-row:3/4;--grid-column:3/6;--m-grid-row:4/5;--m-grid-column:2/5;--556236e0:42px;--6114ddae:104px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zqwpcy" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zQwpCy"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zqwpcy">
      <h3 dir="auto"
        style="color: rgb(255, 255, 255); --lineHeightMobile: 1.3; --lineHeightDesktop: 1.3; --fontSizeMobile: 16px; --fontSizeDesktop: 16px">
        <span style="font-family: Quicksand; font-weight: 500">Estamos en busca de personas que se
          identifiquen con nuestra misión y valores, y que quieran poner sus talentos al servicio de este
          propósito común.</span></h3>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div><!--]--><!--]-->
</div><!----><!----><!----><!----><!---->
</section>
<section id="z0xhA4" class="block"
style="--block-padding-top:16px;--block-padding:16px 0 16px 0;--block-padding-right:0;--block-padding-bottom:16px;--block-padding-left:0;--m-block-padding:16px;"
data-v-0c4679dd="" data-qa="block">
<div class="block-background block-background--fixed transition-with-bg" data-v-0c4679dd=""
  style="--f9f3716a: rgba(91, 178, 194, 0.06); --232c59c7: 85%; --24e13266: 85%; --2e633380: 15%; --b98e7ee4: center; --8481c29a: false;">
  <!----><!----><!----></div>
<div class="block-layout block-layout--layout"
  style="--m-grid-template-rows:9.166666666666666vw auto 11.11111111111111vw auto 5.555555555555555vw auto 3.888888888888889vw auto 12.777777777777779vw auto 3.888888888888889vw auto 4.444444444444445vw auto 12.777777777777779vw auto 3.888888888888889vw auto 2.2222222222222223vw auto 11.11111111111111vw auto 6.111111111111111vw auto 3.888888888888889vw auto 11.11111111111111vw auto 6.111111111111111vw auto 3.888888888888889vw auto 12.777777777777779vw auto 4.444444444444445vw auto 3.888888888888889vw auto 11.11111111111111vw auto 6.111111111111111vw auto 3.888888888888889vw auto 11.11111111111111vw auto 6.111111111111111vw auto 3.888888888888889vw auto 10.555555555555555vw auto 45px;--t-grid-template-rows:minmax(33px, auto) minmax(31px, auto) minmax(40px, auto) minmax(100px, auto) minmax(20px, auto) minmax(26px, auto) minmax(14px, auto) minmax(96px, auto) minmax(46px, auto) minmax(98px, auto) minmax(14px, auto) minmax(26px, auto) minmax(16px, auto) minmax(96px, auto) minmax(46px, auto) minmax(98px, auto) minmax(14px, auto) minmax(26px, auto) minmax(8px, auto) minmax(96px, auto) minmax(40px, auto) minmax(98px, auto) minmax(22px, auto) minmax(26px, auto) minmax(14px, auto) minmax(96px, auto) minmax(40px, auto) minmax(98px, auto) minmax(22px, auto) minmax(26px, auto) minmax(14px, auto) minmax(120px, auto) minmax(46px, auto) minmax(98px, auto) minmax(16px, auto) minmax(26px, auto) minmax(14px, auto) minmax(120px, auto) minmax(40px, auto) minmax(98px, auto) minmax(22px, auto) minmax(26px, auto) minmax(14px, auto) minmax(120px, auto) minmax(40px, auto) minmax(98px, auto) minmax(22px, auto) minmax(26px, auto) minmax(14px, auto) minmax(96px, auto) minmax(38px, auto) minmax(50px, auto) 1fr;--small-desktop-grid-template-rows:5.065359477124183vw auto 4.084967320261438vw auto 0.8986928104575164vw auto 3.2679738562091503vw auto 0.8986928104575164vw auto 3.2679738562091503vw auto 0.6535947712418301vw 0.08169934640522876vw auto auto 0.16339869281045752vw 3.104575163398693vw 0.4084967320261438vw auto auto 0.6535947712418301vw 0.24509803921568626vw auto auto 6.617647058823529vw auto 108px;--grid-template-rows:minmax(62px, auto) minmax(42px, auto) minmax(50px, auto) minmax(26px, auto) minmax(11px, auto) minmax(61px, auto) minmax(40px, auto) minmax(26px, auto) minmax(11px, auto) minmax(61px, auto) minmax(40px, auto) minmax(26px, auto) minmax(8px, auto) minmax(1px, auto) minmax(60px, auto) minmax(1px, auto) minmax(2px, auto) minmax(38px, auto) minmax(5px, auto) minmax(15px, auto) minmax(6px, auto) minmax(8px, auto) minmax(3px, auto) minmax(58px, auto) minmax(3px, auto) minmax(81px, auto) minmax(50px, auto) 1fr;--m-grid-template-columns:6.707317073170732% 0.6097560975609756% 0.6097560975609756% 0.6097560975609756% 0.3048780487804878% 1.524390243902439% 1.2195121951219512% 1.2195121951219512% 1.2195121951219512% 9.451219512195122% 10.670731707317072% 0.3048780487804878% 31.097560975609756% 10.975609756097562% 9.146341463414634% 1.524390243902439% 0.9146341463414633% 1.2195121951219512% 1.524390243902439% 0.6097560975609756% 0.3048780487804878% 0.6097560975609756% 0.6097560975609756% 7.01219512195122%;--grid-template-columns:7.434640522875817% 0.08169934640522876% 8.333333333333332% 1.5522875816993464% 0.08169934640522876% 0.08169934640522876% 14.950980392156863% 7.598039215686274% 8.006535947712418% 0.08169934640522876% 3.594771241830065% 8.006535947712418% 0.32679738562091504% 1.5522875816993464% 0.08169934640522876% 0.32679738562091504% 14.705882352941178% 5.392156862745098% 6.209150326797386% 4.003267973856209% 7.598039215686274%;--m-block-min-height:auto;--t-block-min-height:2629px;--small-desktop-block-min-height:auto;--block-min-height:903px;--cf684206:1224px;--1b0ec2ff:360px;--b11075fe:0 4.444444444444445vw;--5a2609c5:0 16px;"
  data-v-0c4679dd=""><!--[--><!--[-->
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:1;--grid-row:2/3;--grid-column:2/19;--m-grid-row:2/3;--m-grid-column:1/25;--556236e0:42px;--6114ddae:31px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:z3qynn" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="z3QYNn"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:z3qynn">
      <h3 dir="auto"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightMobile: 1.3; --lineHeightDesktop: 1.3; --fontSizeMobile: 24px; --fontSizeDesktop: 32px">
        Áreas de servicio</h3>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:2;--grid-row:4/5;--grid-column:6/8;--m-grid-row:6/7;--m-grid-column:2/24;--556236e0:26px;--6114ddae:26px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zra1fu" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zRA1fu"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zra1fu">
      <h6 style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px"
        dir="auto"><strong>Psicología </strong></h6>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:3;--grid-row:6/7;--grid-column:7/10;--m-grid-row:8/9;--m-grid-column:4/22;--556236e0:61px;--6114ddae:96px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:z2xi62" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="z2xI62"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:z2xi62">
      <p dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.27" class="body"><span
          style="font-family: Quicksand; font-weight: 500">Atención clínica individual o grupal,
          intervención en crisis, desarrollo de talleres, apoyo psicosocial, presencial o virtual.</span>
      </p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:4;--grid-row:8/9;--grid-column:6/8;--m-grid-row:12/13;--m-grid-column:1/25;--556236e0:26px;--6114ddae:26px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zxxmgj" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zXXmgJ"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zxxmgj">
      <h6 dir="auto"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px">
        <strong>Trabajo social</strong></h6>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:5;--grid-row:8/9;--grid-column:16/18;--m-grid-row:18/19;--m-grid-column:1/25;--556236e0:26px;--6114ddae:26px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zh_rs7" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zH_RS7"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zh_rs7">
      <h6 dir="auto"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px">
        <strong>Comunicación</strong></h6>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:6;--grid-row:4/5;--grid-column:16/18;--m-grid-row:24/25;--m-grid-column:1/25;--556236e0:26px;--6114ddae:26px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zyzbry" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zyZBRY"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zyzbry">
      <h6 dir="auto"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px">
        <strong>Diseño Gráfico</strong></h6>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:7;--grid-row:12/13;--grid-column:6/8;--m-grid-row:30/31;--m-grid-column:1/25;--556236e0:26px;--6114ddae:26px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zorcgp" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zOrcgP"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zorcgp">
      <h6 dir="auto"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px">
        <strong>Marketing</strong></h6>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:8;--grid-row:19/22;--grid-column:6/8;--m-grid-row:36/37;--m-grid-column:1/25;--556236e0:26px;--6114ddae:26px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zpx-q4" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zPx-Q4"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zpx-q4">
      <h6 dir="auto"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px">
        <strong>Contabilidad</strong></h6>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:9;--grid-row:12/13;--grid-column:16/18;--m-grid-row:42/43;--m-grid-column:1/25;--556236e0:26px;--6114ddae:26px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zaxop3" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zaxOp3"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zaxop3">
      <h6 dir="auto"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 1.3; --fontSizeDesktop: 20px">
        <strong>Derecho</strong></h6>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:10;--grid-row:20/21;--grid-column:17/20;--m-grid-row:48/49;--m-grid-column:1/25;--556236e0:15px;--6114ddae:26px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zw1wjy" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zW1WJy"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zw1wjy">
      <h6 dir="auto"
        style="color: rgba(2, 106, 150, 0.9); --lineHeightDesktop: 0.77; --fontSizeDesktop: 20px"><span
          style="font-family: Quicksand; font-weight: 500"><strong>Tecnología de la
            información</strong></span></h6>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:11;--grid-row:27/28;--grid-column:9/13;--m-grid-row:52/53;--m-grid-column:11/15;--556236e0:50px;--6114ddae:50px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:z6xzsa" data-animation-state="active"><!--[--><a
      href="https://airtable.com/appXVzPcQaFYHBnCr/pagPn3grGtxj8v2nw/form" target="_blank" rel="nofollow"
      class="grid-button grid-button--primary layout-element__component layout-element__component--GridButton"
      aria-hidden="false"
      style="--font-size-desktop:16px;--font-family:Quicksand;--font-weight:700;--border-width:0px;--background-color:rgba(2, 106, 150, 0.9);--font-color:rgb(255, 255, 255);--border-color:rgb(0, 0, 0);--background-color-hover:rgb(91, 178, 193);--font-color-hover:rgb(255, 255, 255);--border-color-hover:rgb(0, 0, 0);--m-height:13.88888888888889vw;--m-width:48.333333333333336vw;"
      id="z6xzSa" data-v-862b8f16="" data-v-dc96b232="" data-qa="gridbutton:z6xzsa">Aplicar
      ahora</a><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:12;--grid-row:4/7;--grid-column:3/4;--m-grid-row:4/5;--m-grid-column:12/14;--556236e0:98px;--6114ddae:100px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zxcmok">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zxcMOk"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:98px;--3e67ee8b:100px;" data-v-cb1e0aee=""
      data-qa="gridimage:zxcmok">
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=738,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 204w"
          sizes="(min-width: 920px) 102px, 103px" height="98" width="102" loading="eager"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.415032679738562vw;--09ad0563:8.169934640522875vw;--5de16d65:28.61111111111111vw;--4beec8a0:27.77777777777778vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=365,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=365,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=746,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=994,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1399,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=365,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 103w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=365,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-36-YrDJ76wM3VH0a009.png 206w"
          sizes="(min-width: 920px) 102px, 103px" height="100" width="103" loading="eager"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:13;--grid-row:8/11;--grid-column:3/4;--m-grid-row:10/11;--m-grid-column:13/14;--556236e0:98px;--6114ddae:98px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:z-epna">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="z-EpNA"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:98px;--3e67ee8b:98px;" data-v-cb1e0aee=""
      data-qa="gridimage:z-epna">
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=738,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:28.333333333333332vw;--4beec8a0:27.22222222222222vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=739,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1384,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-38-YNq26p3lDKHeWPgz.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:14;--grid-row:10/11;--grid-column:6/11;--m-grid-row:14/15;--m-grid-column:6/20;--556236e0:61px;--6114ddae:96px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zynha1" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zyNHa1"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zynha1">
      <p dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.27" class="body"><span
          style="font-family: Quicksand; font-weight: 500">Diagnóstico de contextos familiares y sociales,
          gestión de casos, vinculación con redes de apoyo y servicios comunitarios.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:15;--grid-row:4/7;--grid-column:12/14;--m-grid-row:22/23;--m-grid-column:13/14;--556236e0:98px;--6114ddae:98px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zabozi">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zaBOZi"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:98px;--3e67ee8b:98px;" data-v-cb1e0aee=""
      data-qa="gridimage:zabozi">
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=738,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:28.333333333333332vw;--4beec8a0:27.22222222222222vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=739,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1384,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-37-AGBb53lWr7uVp1Ow.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:16;--grid-row:6/7;--grid-column:15/21;--m-grid-row:26/27;--m-grid-column:7/19;--556236e0:61px;--6114ddae:96px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zm07ck" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zM07ck"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zm07ck">
      <p dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.27" class="body"><span
          style="font-family: Quicksand; font-weight: 500">Diseño de materiales visuales, campañas,
          identidad gráfica, contenido para redes y presentaciones.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:17;--grid-row:8/11;--grid-column:12/14;--m-grid-row:16/17;--m-grid-column:13/14;--556236e0:98px;--6114ddae:98px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zfa2t1">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zfa2T1"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:98px;--3e67ee8b:98px;" data-v-cb1e0aee=""
      data-qa="gridimage:zfa2t1">
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=738,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:28.333333333333332vw;--4beec8a0:27.22222222222222vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=739,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1384,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-39-dJobnB2wl3HV3pRx.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:18;--grid-row:10/11;--grid-column:15/21;--m-grid-row:20/21;--m-grid-column:3/23;--556236e0:61px;--6114ddae:96px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zpowqr" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zPowqr"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zpowqr">
      <p dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.27" class="body"><span
          style="font-family: Quicksand; font-weight: 500">Difusión de campañas de salud mental, contenido
          para redes sociales, manejo de prensa y visibilidad institucional.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:19;--grid-row:12/18;--grid-column:3/4;--m-grid-row:28/29;--m-grid-column:13/14;--556236e0:98px;--6114ddae:98px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zaeti8">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zAEtI8"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:98px;--3e67ee8b:98px;" data-v-cb1e0aee=""
      data-qa="gridimage:zaeti8">
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=738,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:28.333333333333332vw;--4beec8a0:27.22222222222222vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=739,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1384,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-40-m5Kno2GZPzHZ01l6.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:20;--grid-row:12/18;--grid-column:12/14;--m-grid-row:40/41;--m-grid-column:13/14;--556236e0:98px;--6114ddae:98px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:z_beav">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="z_bEaV"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:98px;--3e67ee8b:98px;" data-v-cb1e0aee=""
      data-qa="gridimage:z_beav">
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=738,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:28.333333333333332vw;--4beec8a0:27.22222222222222vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=739,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1384,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-41-dJobnB2wGvSeKM52.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:21;--grid-row:15/17;--grid-column:5/10;--m-grid-row:32/33;--m-grid-column:8/18;--556236e0:61px;--6114ddae:120px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:z7jvv9" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="z7jvV9"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:z7jvv9">
      <p dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.27" class="body"><span
          style="font-family: Quicksand; font-weight: 500">Estrategias de difusión, posicionamiento de la
          fundación, campañas de sensibilización online, captación de donantes o padrinos.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:22;--grid-row:14/16;--grid-column:15/21;--m-grid-row:44/45;--m-grid-column:10/16;--556236e0:61px;--6114ddae:120px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zludgb" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zlUdgB"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zludgb">
      <p dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.27" class="body"><span
          style="font-family: Quicksand; font-weight: 500">Asesoría legal en convenios, voluntariado,
          protección de datos, constitución formal de la organización y cumplimiento normativo.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:23;--grid-row:19/26;--grid-column:3/4;--m-grid-row:34/35;--m-grid-column:13/14;--556236e0:98px;--6114ddae:98px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zqhccp">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="zQHCcP"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:98px;--3e67ee8b:98px;" data-v-cb1e0aee=""
      data-qa="gridimage:zqhccp">
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=738,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:28.333333333333332vw;--4beec8a0:27.22222222222222vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=739,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1384,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-43-YX4xKXEB18hekGJ6.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:24;--grid-row:24/26;--grid-column:5/10;--m-grid-row:38/39;--m-grid-column:9/17;--556236e0:61px;--6114ddae:120px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zbrlzj" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zBRlZj"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zbrlzj">
      <p dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.27" class="body"><span
          style="font-family: Quicksand; font-weight: 500">Gestión financiera, administración de donaciones,
          planificación de recursos, apoyo en la transparencia económica de la fundación.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div
    class="layout-element layout-element--layout layout-element transition transition--slide transition--root-hidden"
    style="--align:center;--justify:center;--m-element-margin:0 0 16px 0;--z-index:25;--grid-row:19/26;--grid-column:12/14;--m-grid-row:46/47;--m-grid-column:13/14;--556236e0:98px;--6114ddae:98px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:z7sjwn">
    <!--[--><!----><!----><!----><!----><!----><!----><!----><!----><!---->
    <div id="z7sJwn"
      class="image-wrapper image-wrapper--layout layout-element__component layout-element__component--GridImage"
      data-v-862b8f16="" style="--54a109e6:98px;--3e67ee8b:98px;" data-v-cb1e0aee=""
      data-qa="gridimage:z7sjwn">
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:100%;--4beec8a0:auto;"
        class="image image--grid loaded image-wrapper--desktop" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"
        data-animation-state="active"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 328w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=738,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 656w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 861w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 984w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
      <div rel="nofollow" title=""
        style="--9c00fd5c:8.333333333333334vw;--09ad0563:8.006535947712418vw;--5de16d65:28.333333333333332vw;--4beec8a0:27.22222222222222vw;"
        class="image image--grid loaded image-wrapper--mobile" data-selector="data-image"
        data-animation-role="image" data-v-cb1e0aee="" data-v-e7628ce9="" data-qa="grid-image"><img alt=""
          src="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png"
          srcset="https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 360w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=768,h=739,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 720w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1024,h=984,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 945w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1440,h=1384,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 1080w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 102w,https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=375,h=361,fit=crop/Yanq2pnyPJF4kBgZ/voluntariadoconfondo-42-YD0wxDGqjlUpn2Mg.png 204w"
          sizes="(min-width: 920px) 102px, 102px" height="98" width="102" loading="lazy"
          class="image__image" data-v-e7628ce9="" data-qa="builder-gridelement-gridimage"><!--[--><!--]-->
      </div>
    </div><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div>
  <div class="layout-element layout-element--layout layout-element transition transition--slide"
    style="--text:left;--align:flex-start;--m-text:center;--justify:flex-start;--m-element-margin:0 0 16px 0;--z-index:26;--grid-row:23/25;--grid-column:15/21;--m-grid-row:50/51;--m-grid-column:5/21;--556236e0:61px;--6114ddae:96px;"
    data-v-862b8f16="" data-qa="layout-element-wrapper:zrtl-e" data-animation-state="active">
    <!--[--><!----><!----><!----><!----><!---->
    <div class="text-box layout-element__component layout-element__component--GridTextBox" id="zrtL-e"
      data-v-862b8f16="" style="--54285089:;--6191828b:;"
      data-qa="gridtextbox:zrtl-e">
      <p dir="auto" style="color: rgb(91, 178, 193); --lineHeightDesktop: 1.27" class="body"><span
          style="font-family: Quicksand; font-weight: 500">Soporte técnico para plataformas virtuales,
          seguridad de datos, mantenimiento del sitio web y desarrollo de soluciones digitales.</span></p>
    </div><!----><!----><!----><!----><!----><!----><!----><!----><!--[--><!--]--><!--]-->
  </div><!--]--><!--]-->
</div><!----><!----><!----><!----><!---->
</section>

</BaseLayout>
