        <section class="block-sticky-bar" data-block-id="stickyBar" style="--5bd99ccd: 100;" data-v-6290f57d=""
          data-qa="block-sticky-bar">
          <div class="block-background block-sticky-bar__background transition-with-bg" data-v-6290f57d=""
            style="--f9f3716a: rgba(91, 178, 194, 0.92); --232c59c7: 50%; --24e13266: 0%; --2e633380: 50%; --b98e7ee4: center; --8481c29a: false;">
            <!----><!----><!---->
          </div>
          <div class="block-sticky-bar-layout transition transition--slide transition--root-hidden"
            style="--block-padding-top: 0; --block-padding: 0; --block-padding-right: 0; --block-padding-bottom: 0; --block-padding-left: 0; --m-block-padding: 0 16px; --m-grid-template-rows: 1fr; --t-grid-template-rows: 1fr; --small-desktop-grid-template-rows: 1fr; --grid-template-rows: 1fr; --m-grid-template-columns: 100%; --grid-template-columns: 100%; --m-block-min-height: 40px; --t-block-min-height: 40px; --small-desktop-block-min-height: 40px; --block-min-height: 40px; --96c845ae: 1224px; --067a702b: 360px; --205f40f1: 0 16px; --a83e9362: 100;"
            data-v-6290f57d="" data-v-bea4450f="" data-qa="block-sticky-bar-layout"><!--[--><!--[-->
            <div class="text-box block-sticky-bar__element" data-animation-role="block-element" data-v-6290f57d=""
              style="" data-animation-state="active">
              <p class="body-small" style="color: rgb(255, 255, 255)" dir="auto"><span
                  style="font-weight: 700"><strong>-5$ de descuento <u><a data-page-id="" style="text-decoration: none;"
                        href="https://wa.me/593998873797" rel="nofollow">agenda tu cita </a></u></strong></span></p>
            </div><!--]--><!--]-->
          </div>
        </section>