/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url("https://images.pexels.com/videos/5976346/baltic-sea-bath-bathe-bathing-5976346.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=630&w=1200");
  background-size: cover;
  background-position: center;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

.home-button {
  background-color: rgb(91, 178, 193);
  color: white;
  border: none;
  border-radius: 80px;
  padding: 17px 31px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button a {
  color: white;
  text-decoration: none;
}

.home-button:hover {
  background-color: rgba(2, 106, 150, 0.9);
}
