/* Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-image: url("https://images.pexels.com/videos/5976346/baltic-sea-bath-bathe-bathing-5976346.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=630&w=1200");
  background-size: cover;
  background-position: center;
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
}

.home-button {
  background-color: rgb(91, 178, 193);
  color: white;
  border: none;
  border-radius: 80px;
  padding: 17px 31px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button a {
  color: white;
  text-decoration: none;
}

.home-button:hover {
  background-color: rgba(2, 106, 150, 0.9);
}

/* Styles for the live-container section */
.live-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  background: linear-gradient(217deg, rgb(10, 181, 203), rgb(0, 80, 134));
}

.live-image {
  width: 320px;
  height: 215px;
  margin-bottom: 1rem;
  border-radius: 8px;
  margin-left: 70px;
}

.live-content {
  margin: 70px;
}

.live-content p {
  margin: 1rem 0;
  font-size: 1.1rem;
  color: white;
}

.live-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1rem;
}

.live-input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

.live-button {
  width: 170px;
}
